<%- include("header.ejs",{"title":username,"routes":routes}) %>
<style>
    .daka-cover-preview {
        width: 200px;
    }

    #editor {
        margin-left: 120px;
    }

    .search-cell-title {
        width: 90px;
    }

    s {
        color: red;
        text-decoration: none;
    }
</style>
<div class="main">

    <div id="article" class="check-account">
        <form id="J_Form" class="pt40">
            <div class="search-cell">
                <span class="search-cell-title m0-left"><s>*</s>标题：</span>
                <div class="inline">
                    <input type="text" name="articleTitle" data-rules="{required : true}">
                </div>
            </div>

            <div class="search-cell">
                <span class="search-cell-title m0-left"><s>*</s>耗时(分钟)：</span>
                <div class="inline">
                    <input type="text" name="needTime" data-rules="{required : true,number:true}">
                </div>
            </div>

            <div class="search-cell">
                <span class="search-cell-title m0-left"><s>*</s>难度等级：</span>
                <select class="search-common-cell" id="select_card" name="difficulty"
                        data-rules="{required : true}">
                    <option value="1">1颗星</option>
                    <option value="2">2颗星</option>
                    <option value="3">3颗星</option>
                    <option value="4">4颗星</option>
                    <option value="5">5颗星</option>
                </select>
            </div>

            <div class="search-cell">
                <span class="search-cell-title m0-left">上传封页</span>
                <div class="inline">
                    <div id="J_Uploader"></div>
                    <s>尺寸:宽高(233*311)</s>
                </div>
            </div>
            <div class="search-cell J-previewBox" style="display: none">
                <span class="search-cell-title m0-left"><s>*</s>封页预览</span>
                <div class="inline">
                    <div id="J-preview"></div>
                </div>
            </div>

            <div class="search-cell">
                <label class="search-cell-title m0-left"><s>*</s>简介：</label>
                <textarea name="brief" id="" class="control-row4 input-large" data-rules="{required : true}"></textarea>
            </div>

            <div class="search-cell">
                <span class="search-cell-title m0-left">资源类型：</span>
                <select class="search-common-cell" id="select_card" name="tag">
                    <option value="video">视频</option>
                    <option value="audio">音频</option>
                </select>
            </div>
            <div class="search-cell">
                <span class="search-cell-title m0-left">视频链接</span>
                <div class="inline">
                    <input type="text" name="videoURL" style="width: 400px;">
                </div>
            </div>


            <div class="search-cell">
                <span class="search-cell-title m0-left" style="vertical-align: top;">文章正文</span>
                <div id="editor">

                </div>
            </div>


            <div class="row">
                <div class="form-actions text-center">
                    <a class="button button-primary J-submit">确定</a>
                </div>
            </div>
        </form>

    </div>


    <!-- 此节点内部的内容会在弹出框内显示,默认隐藏此节点-->
    <div id="adminDialog" class="bui-hidden">
        <form id="dialog-form" class="form-horizontal">

        </form>
    </div>
</div>
<script src="http://g.alicdn.com/bui/seajs/2.3.0/sea.js"></script>
<script src="http://g.alicdn.com/bui/bui/1.1.21/config.js"></script>

<script type="text/javascript" src="/javascripts/admin/wangEditor.min.js"></script>
<script type="text/javascript" src="/javascripts/admin/daka_add.js"></script>


<%- include("footer.ejs") %>
