
<script>
    $('.J-esc').click(function () {
        window.Cookies.delCookie('session','/');
        window.location.href='/admin';
    });
</script>

<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?3bdcd19ea5a52ab4ee3aecc0635fefce";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

</body>
</html>
