<%- include("../header.ejs",{"title":'老师上传页面'}) %>


<div class="container" style="display: none;" id="container">


    <div class="weui-cells weui-cells_form">
        <div class="weui-uploader__input-box">
            <p class="weui-uploader__title">个照上传</p>
            <input id="personPicUploader" class="weui-uploader__input" type="file"
                   accept="image/*" multiple="">
            <div class="J-file"></div>
        </div>
    </div>


    <div class="weui-cells weui-cells_form">
        <div class="weui-uploader__input-box">
            <p class="weui-uploader__title">合照长传</p>
            <input id="groupPicUploader" class="weui-uploader__input" type="file" accept="image/*" multiple="">
            <div class="J-file"></div>
        </div>
    </div>


    <div class="weui-cells__title">文本域</div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" name="voteWords" placeholder="请输入文本" rows="3"></textarea>
                <div class="weui-textarea-counter"><span>0</span>/150</div>
            </div>
        </div>
    </div>

    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary J-submit" href="javascript:">确定</a>
    </div>


</div>

<div class="page msg_success js_show container" style="display: none;" id="done">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">提交成功</h2>
            <p class="weui-msg__desc">
                您的信息已提交，我们将在3个工作日内完成审核，请自行登录查看审核结果。
            </p>
        </div>

        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__text">Copyright © 2008-2016 weui.io</p>
            </div>
        </div>
    </div>
</div>


<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/api.js"></script>
<script src="/javascripts/lrz.all.bundle.js"></script>
<script>

    var groupPicImg, personPicImg;

    var status = 0;

    if(status==0){
        $('#container').show().siblings('.container').hide();
    }else if(status==1){
        $('#done').show().siblings('.container').hide();
    }
    $('#groupPicUploader')[0].addEventListener('change', function () {
        uploader('groupPic', this);
    });

    $('#personPicUploader')[0].addEventListener('change', function () {
        uploader('personPic', this);
    });

    $('.J-submit').click(function () {
        if (!groupPicImg || !personPicImg) {
            alert('您的图片还没上传完,请稍后');
            return false;
        }
        var data = {
            personPic: personPicImg,
            groupPic: groupPicImg,
            voteWords: $('[name="voteWords"]').val()
        }
        $.ajax({
            type: 'POST',
            url: 'teacher/api/voteInfo',
            data: data,
            success: function (data) {
                console.log(data);
                if (data.status == '200') {
                    alert('提交成功');
                    $('#done').show().siblings('.container').hide();
                } else {
                    alert(data.errmsg);
                }
            },
            dataType: 'json'
        });

    });


    function uploader(name, me) {
        lrz(me.files[0])
                .then(function (rst) {

                    var img = new Image();
                    img.src = rst.base64;
                    img.onload = function () {
                        $(me).parent().find('.J-file').append(img);
                    };

                    rst.formData.append('fileLen', rst.fileLen);
                    $.ajax({
                        url: 'teacher/api/uploading', // 这个地址做了跨域处理，可以用于实际调试
                        data: rst.formData,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        success: function (data) {
                            console.log(data);
                            var imgName = data.data.imgName;
                            if (name == 'personPic') {
                                personPicImg = imgName;
                            } else if (name == 'groupPic') {
                                groupPicImg = imgName;
                            }
                        }
                    });
                })
                .catch(function (err) {
                    // 处理失败会执行
                })
                .always(function () {
                    // 不管是成功失败，都会执行
                });
    }
</script>
</body>
</html>
