<%- include("header.ejs",{"title":username,"routes":routes,"needNav":false}) %>

<div class="main">

    <div id="article" class="check-account">
        <form id="J-search-form" class="pt40">
            <div class="search-cell">

                <span class="search-cell-title m0-left">中文名：</span>
                <div class="inline">
                    <input type="text" name="realName">
                </div>


                <span class="search-cell-title m0-left">电话：</span>
                <div class="inline">
                    <input type="text" name="cellPhone">
                </div>

                <span class="search-cell-title m0-left">状态：</span>
                <select class="search-common-cell" id="select_card" name="tag">
                    <option value="">全部</option>
                    <% for(var i = 0;i < tag.length;i++){ %>
                    <option value="<%= tag[i].value %>"><%= tag[i].text %></option>
                    <% } %>
                </select>
            </div>


            <div class="row">
                <div class="form-actions text-center">
                    <a class="button button-primary J-query">查询</a>
                    <a class="button m0-left J-download" href="javascript:;">下载</a>
                </div>
            </div>
        </form>

    </div>

    <div id="article-content">
        <div id="record-list">
            <div id="record-list-title"></div>
            <table class="table" id="record-table">

            </table>

        </div>
    </div>


    <!-- 此节点内部的内容会在弹出框内显示,默认隐藏此节点-->
    <div id="adminDialog" class="bui-hidden">
        <form id="dialog-form" class="form-horizontal">

        </form>
    </div>
</div>
<script src="http://g.alicdn.com/bui/seajs/2.3.0/sea.js"></script>
<script src="http://g.alicdn.com/bui/bui/1.1.21/config.js"></script>

<script type="text/javascript" src="/javascripts/admin/leadsData.js"></script>

<%- include("footer.ejs") %>
