<%- include("header.ejs",{"title": "结婚邀请函"}) %>
<div class="page index-page">
    <h2 style="text-align: center; padding-top: 80px;"><a href="/invitation/index">邀请函已删除，请点击回首页</a></h2>
</div>
<%- include("commonjs.ejs") %>


</body>
</html>