<%- include("../daka/header.ejs",{"title": "英孚亲子共读训练营"}) %>
<style>
    body.ipad {
        padding-bottom: 160px;
    }

    h2 {
        font-size: 36px !important;
        color: #00a7fe !important;
    }
</style>
<div class="page main-page index-page active">
    <h2>OpenId:<%= openInfo.openid %></h2>
    <h2>nickname:<%= openInfo.nickname %></h2>
</div>

<!--上传图片 专用JS-->
<script src="/javascripts/lrz.all.bundle.js"></script>


<script>

</script>


</body>
</html>