<%- include("header.ejs",{"title": "结婚邀请函"}) %>
<div class="page index-page">
    <div class="empty J-empty active">
        <div class="title">我的请柬</div>
        <div class="content">
            <img src="/invitation/img/text-empty.png" alt="">
        </div>
        <div class="action-btn J-make">
            <img src="/invitation/img/make-btn.png" alt="">
        </div>
    </div>
</div>
<%- include("commonjs.ejs") %>
<script>
    function Page() {
        this.init();
    }

    Page.prototype = {
        init: function () {
            this.bindEvent();
        },
        // 绑定事件
        bindEvent: function () {
            $('.J-make').click(function () {
                window.location.href = '/invitation/template';
            })
        },
    }
</script>
<script>
    new Page();
</script>


</body>
</html>