<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/weui.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <meta name="referrer" content="always"/>
    <meta charset='utf-8'/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
</head>
<body>
<h1><%= title %></h1>

<div class="container" id="container">
    <div class="cell">
        <div class="hd">
            <h1 class="page_title">Cell</h1>
        </div>
        <div class="bd">
            <div class="weui_cells_title">个人信息</div>
            <div class="weui_cells">
                <div class="weui_cell">
                    <div class="weui_cell_hd">
                        <img class="Tpl-headimgurl" src="" alt="" style="width:20px;margin-right:5px;display:block">
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p class="Tpl-nickname">标题文字</p>
                    </div>
                    <div class="weui_cell_ft">性别: <span class="Tpl-sex"></span></div>
                </div>
            </div>

            <div class="weui_cells_title">打卡信息</div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary"><p>总打卡次数: <span></span></p></div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary"><p>当前打卡次数: <span></span></p></div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary"><p>当前连续打卡次数: <span></span></p></div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary"><p>上次打卡时间: <span></span></p></div>
            </div>


            <div class="weui_btn_area">
                <a class="weui_btn weui_btn_primary J-singIn" href="javascript:">打卡啦!!</a>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/jquery.js"></script>
<script>
    $.ajax({
        type: 'GET',
        url: '/api/getUseInfo',
        data: {},
        success: function (data) {
            if (data.status == '200') {
                var persionInfo = data[0].personInfo;

                $('.Tpl-nickname').text(persionInfo.nickname);
                $('.Tpl-sex').text(persionInfo.sex);
                $('.Tpl-headimgurl').attr('src', persionInfo.headimgurl);
            } else {
                alert(data.errmsg);
            }
        },
        dataType: 'json'
    });
</script>
</body>
</html>
