<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>


<script src="/javascripts/jquery.js"></script>
<script>
    $.ajax({
        type: 'GET',
        url: '/api/getUseInfo',
        data: {},
        success: function (data) {
            if (data.status == '200') {
                console.log(data);
            } else {
                alert(data.errmsg);
            }
        },
        dataType: 'json'
    });
</script>
</body>
</html>
