<%- include("header.ejs",{"title":'老师上传页面'}) %>


<div class="page page-upload" id="container">

    <div class="upload-box">
        <div class="personPicBox">
            <div class="wrap">
                <input id="personPicUploader" class="uploader-input" type="file" accept="image/*" multiple="">
                <div class="J-file file"></div>
                <img src="/images/teacher/upload-icon.png" class="upload-icon">
            </div>

            <img src="/images/teacher/personPic-txt.png" class="txt">
        </div>

        <div class="groupPicBox">
            <div class="wrap">
                <input id="groupPicUploader" class="uploader-input" type="file" accept="image/*" multiple="">
                <div class="J-file file"></div>
                <img src="/images/teacher/upload-icon.png" class="upload-icon">
            </div>
            <img src="/images/teacher/groupPic-txt.png" class="txt">
        </div>
    </div>
    <div class="words-box">
        <img src="/images/teacher/words-txt.png" class="txt">
        <div class="textarea-box">
            <textarea class="textarea J-textarea" placeholder="请输入文本" rows="3"></textarea>
            <div class="textarea-counter"><span class="current-words">0</span>/<span class="total-words">300</span>
            </div>
        </div>

    </div>
    <a class="btn upload-btn J-submit" href="javascript:">确定</a>
</div>

<div class="page page-upload-done">
    <div class="txt">
        您的信息已提交,我们将在3个<br/>
        工作日内完成审核,请自行登录<br/>
        查看审核结果。
    </div>
    <a href="javascript:;" class="J-out crile-btn out-btn">返回</a>
</div>

<div class="page page-wait" id="wait">
    <img src="/images/teacher/wait-txt.png" class="txt">

    <a href="javascript:;" class="btn out-btn J-out">返回</a>
</div>

<div class="page page-fail" id="fail">
    <img src="/images/teacher/fail-txt.png" class="txt">

    <a href="javascript:;" class="btn J-reupload">重新递交资料</a>
</div>

<div class="page page-pass" id="pass">
    <img src="/images/teacher/pass-txt.png" class="txt">

    <a href="javascript:;" class="btn J-gotoDetail">进入个人页面</a>
</div>


<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/api.js"></script>
<script src="/javascripts/lrz.all.bundle.js"></script>
<script src="/javascripts/cookie.js"></script>
<script>

    var groupPicImg, personPicImg;

    var status = <%= status %>;
    var id = '<%= id %>';

    if (status == 0) {
        $('#container').show().siblings('.page').hide();
    } else if (status == 1) {
        $('#wait').show().siblings('.page').hide();
    } else if (status == 2) {
        $('#pass').show().siblings('.page').hide();
    } else if (status == 3) {
        $('#fail').show().siblings('.page').hide();
    }
    $('#groupPicUploader')[0].addEventListener('change', function () {
        uploader('groupPic', this);
    });

    $('#personPicUploader')[0].addEventListener('change', function () {
        uploader('personPic', this);
    });

    $('.J-submit').click(function () {
        if (!groupPicImg || !personPicImg) {
            alert('您的图片还没上传完,请稍后');
            return false;
        }
        var data = {
            personPic: personPicImg,
            groupPic: groupPicImg,
            voteWords: $('[name="voteWords"]').val()
        }
        $.ajax({
            type: 'POST',
            url: 'teacher/api/voteInfo',
            data: data,
            success: function (data) {
                console.log(data);
                if (data.status == '200') {
                    $('.page-upload-done').show().siblings('.page').hide();
                } else {
                    alert(data.errmsg);
                }
            },
            dataType: 'json'
        });

    });

    $('.J-textarea').on('input', function () {
        var v = $(this).val();
        var totalWords = $('.total-words').text() * 1;
        if (v.length > totalWords) {
            v = v.substr(0, totalWords);
            $(this).val(v);
        } else {
            $('.current-words').text(v.length);
        }
    });

    $('.J-out').click(function () {
        window.Cookies.delCookie('session');
        window.location.href = '/teacher/login';
    });

    $('.J-reupload').click(function () {
        $('#container').show().siblings('.page').hide();
    });

    $('.J-gotoDetail').click(function () {
        window.location.href = '/teacher/detail?id=' + id;
    });


    function uploader(name, me) {
        lrz(me.files[0])
                .then(function (rst) {

                    var img = new Image();
                    img.src = rst.base64;
                    img.onload = function () {
                        $(me).parent().find('.J-file').html(img);
                    };

                    rst.formData.append('fileLen', rst.fileLen);
                    $.ajax({
                        url: 'teacher/api/uploading', // 这个地址做了跨域处理，可以用于实际调试
                        data: rst.formData,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        success: function (data) {
                            console.log(data);
                            var imgName = data.data.imgName;
                            if (name == 'personPic') {
                                personPicImg = imgName;
                            } else if (name == 'groupPic') {
                                groupPicImg = imgName;
                            }
                        }
                    });
                })
                .catch(function (err) {
                    // 处理失败会执行
                })
                .always(function () {
                    // 不管是成功失败，都会执行
                });
    }
</script>
</body>
</html>
