<%- include("header.ejs",{"title":'登录注册页面'}) %>

<div class="page page-register-done">
    <img src="/images/teacher/register-done-txt.png" class="done-txt">
    <a href="/teacher" class="btn">继续填写参赛资料</a>
</div>

<div class="overlay">
    <img src="/images/teacher/rule-txt.png" class="rule-txt mid">
    <img src="/images/teacher/closed.png" class="closed J-closed">
</div>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/cookie.js"></script>
<script>


    var register = false;
    route();


    $(window).on('hashchange', route);


    $('.J-gotoLogin').click(function () {
        window.location.hash = '#login';
        $('.page').hide(), $('#login').show();

    });

    $('.J-gotoRegister').click(function () {
        window.location.hash = '#register';
        $('.page').hide(), $('#register').show();

    });

    $('.J-rule').click(function () {
        $('.overlay').show();
    });

    $('.J-closed').click(function () {
        $(this).parent().hide();
    });


    function route() {
        var hash = window.location.hash;
        var cookies = window.Cookies.getCookie('session');

        if (cookies && register) {
            window.location.href = '/teacher';
        }

        if (hash == '') {
            $('.page').hide(), $('.page-index').show();
        } else if (hash == '#register') {
            $('.page').hide(), $('#register').show();
        } else if (hash == '#login') {
            $('.page').hide(), $('#login').show();
        } else if (hash == '#done') {
            $('.page').hide(), $('.page-register-done').show();
        }
    }
</script>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>

    initWX(initWXSahre);

    function initWXSahre() {

        //“分享给朋友”
        wx.onMenuShareAppMessage({
            title: '英孚金牌班主任评选，报名即有机会和胡歌一起参加教育论坛！', // 分享标题
            desc: '2月25日，胡歌在教育论坛现场等你！', // 分享描述
            link: '', // 分享链接
            imgUrl: 'http://ma.eldesign.cn/images/teacher/sharelogo.jpg', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        //“分享到朋友圈”
        wx.onMenuShareTimeline({
            title: '英孚金牌班主任评选，报名即有机会和胡歌一起参加教育论坛！', // 分享标题
            desc: '2月25日，胡歌在教育论坛现场等你！', // 分享描述
            link: '', // 分享链接
            imgUrl: 'http://ma.eldesign.cn/images/teacher/sharelogo.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    }

    function initWX(callback) {

        $.ajax({
            type: 'GET',
            url: '/api/getWxSDK',
            data: {'originalUrl': window.location.href},
            success: function (data) {
                var wxConfig = data.data.wxConfig;

                //log(wxConfig);

                wx.config({
                    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                    appId: wxConfig.appId, // 必填，公众号的唯一标识
                    timestamp: wxConfig.timestamp, // 必填，生成签名的时间戳
                    nonceStr: wxConfig.nonceStr, // 必填，生成签名的随机串
                    signature: wxConfig.signature,// 必填，签名，见附录1
                    jsApiList: ['startRecord', 'stopRecord', 'playVoice', 'onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                });

                wx.ready(function () {
                    callback && callback();
                });

                wx.error(function (res) {
                    log(res);
                });


            },
            dataType: 'json'
        });


    }
</script>

</body>
</html>
