<%- include("header.ejs",{"title":'登录注册页面'}) %>

<div class="page page-register-done">
    <img src="/images/teacher/register-done-txt.png" class="done-txt">
    <a href="/teacher" class="btn">继续填写参赛资料</a>
</div>

<div class="overlay">
    <img src="/images/teacher/rule-txt.png" class="rule-txt mid">
    <img src="/images/teacher/closed.png" class="closed J-closed">
</div>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/cookie.js"></script>
<script>


    var register = false;
    route();


    $(window).on('hashchange', route);


    $('.J-gotoLogin').click(function () {
        window.location.hash = '#login';
        $('.page').hide(), $('#login').show();

    });

    $('.J-gotoRegister').click(function () {
        window.location.hash = '#register';
        $('.page').hide(), $('#register').show();

    });

    $('.J-rule').click(function () {
        $('.overlay').show();
    });

    $('.J-closed').click(function () {
        $(this).parent().hide();
    });


    function route() {
        var hash = window.location.hash;
        var cookies = window.Cookies.getCookie('session');

        if (cookies && register) {
            window.location.href = '/teacher';
        }

        if (hash == '') {
            $('.page').hide(), $('.page-index').show();
        } else if (hash == '#register') {
            $('.page').hide(), $('#register').show();
        } else if (hash == '#login') {
            $('.page').hide(), $('#login').show();
        } else if (hash == '#done') {
            $('.page').hide(), $('.page-register-done').show();
        }
    }
</script>
</body>
</html>
