<%- include("../header.ejs",{"title":'登录注册页面'}) %>


<div class="page page-register" id="register">

    <img src="/images/teacher/register-txt.png" class="register-txt">
    <input type="text" class="input" name="realName" placeholder="中文名"/>
    <input type="text" class="input" name="englishName" placeholder="英文名"/>

    <select name="" class="input select">
        <option value="">城市</option>
    </select>

    <select name="" class="input select">
        <option value="">学校</option>
    </select>

    <input type="tel" class="input" name="cellPhone" placeholder="手机号"/>
    <input type="text" class="input" name="passWord" placeholder="密码"/>
    <input type="text" class="input" name="passWordAgain" placeholder="确认密码"/>

    <a class="btn J-register" href="javascript:;">下一步</a>

</div>


<div class="page page-login" id="login">
    <img src="/images/teacher/login-txt.png" class="login-txt">

    <input type="tel" class="input" name="cellPhone_login" placeholder="手机号"/>
    <input type="text" class="input" name="passWord_login" placeholder="密码"/>

    <a class="btn J-login" href="javascript:">登录</a>
</div>

<div class="page page-index">

    <img src="/images/teacher/index-img.png" class="index-img">
    <img src="/images/teacher/index-img2.png" class="index-img2">

    <img src="/images/teacher/index-rule.png" class="index-rule J-rule">

    <div class="index-btn-list">
        <a href="javascript:;" class="crile-btn index-btn J-gotoLogin">登录</a>

        <a href="javascript:;" class="crile-btn index-btn J-gotoRegister">注册</a>
    </div>
</div>

<div class="page page-register-done">
    <img src="/images/teacher/register-done-txt.png" class="done-txt">
    <a href="/teacher" class="btn">继续填写参赛资料</a>
</div>

<div class="overlay">
    <img src="/images/teacher/rule-txt.png" class="rule-txt mid">
    <img src="/images/teacher/closed.png" class="closed J-closed">
</div>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/cookie.js"></script>
<script>


    var register = false;
    route();


    $(window).on('hashchange', route);


    $('.J-gotoLogin').click(function () {
        window.location.hash = '#login';
        $('.page').hide(), $('#login').show();

    });

    $('.J-gotoRegister').click(function () {
        window.location.hash = '#register';
        $('.page').hide(), $('#register').show();

    });

    $('.J-rule').click(function () {
        $('.overlay').show();
    });

    $('.J-closed').click(function () {
        $(this).parent().hide();
    })

    $('.J-register').click(function () {
        if ($(this).hasClass('weui_btn_disabled')) {
            return false;
        }

        var data = {
            'realName': $("[name='realName']").val(),
            'englishName': $("[name='englishName']").val(),
            'cellPhone': $("[name='cellPhone']").val(),
            'passWord': $("[name='passWord']").val(),
            'cityNo': $("[name='city']").val(),
            'cityName': $("[name='city']").find("option:selected").text(),
            'schoolNo': $("[name='school']").val(),
            'schoolName': $("[name='school']").find("option:selected").text(),
        }

        $.ajax({
            type: 'POST',
            url: '/teacher/api/register',
            data: data,
            success: function (data) {
                console.log(data);

                if (data.status == '200') {
                    $('.page').hide(), $('.page-register-done').show();
                    window.location.hash = '#done';
                } else {
                    alert(data.errmsg);
                }
            },
            dataType: 'json'
        });
    });

    $('.J-login').click(function () {
        if ($(this).hasClass('weui_btn_disabled')) {
            return false;
        }

        var data = {
            'cellPhone': $("[name='cellPhone_login']").val(),
            'passWord': $("[name='passWord_login']").val()
        }

        $.ajax({
            type: 'POST',
            url: '/teacher/api/login',
            data: data,
            success: function (data) {
                console.log(data);
                if (data.status == '200') {
                    window.location.href = '/teacher';
                } else {
                    alert(data.errmsg);
                }
            },
            dataType: 'json'
        });
    });


    function route() {
        var hash = window.location.hash;
        var cookies = window.Cookies.getCookie('session');

        if (cookies && register) {
            window.location.href = '/teacher';
        }

        if (hash == '') {
            $('.page').hide(), $('.page-index').show();
        } else if (hash == '#register') {
            $('.page').hide(), $('#register').show();
        } else if (hash == '#login') {
            $('.page').hide(), $('#login').show();
        } else if (hash == '#done') {
            $('.page').hide(), $('.page-register-done').show();
        }
    }
</script>
</body>
</html>
