body,
p,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
form,
fieldset,
legend,
input,
select,
textarea,
button,
th,
td,
menu,
article,
pre {
    margin: 0;
    padding: 0;
}

pre {
    white-space: normal;
}

article,
aside,
dialog,
figure,
footer,
header,
nav,
section,
select,
time {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
button,
label {
    font-size: 100%;
    font-weight: 100;
    vertical-align: middle;
}

ul,
dl,
ol {
    list-style: none;
}

img,
fieldset,
input[type="submit"] {
    border: none;
}

input {
    outline: none;
    background: transparent;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    cursor: pointer;
    border: none;
}

textarea {
    word-wrap: break-word;
    resize: none;
}

input,
textarea,
select {
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
    outline: none;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
}

::-webkit-input-placeholder {
    color: #9cabba;
}

.input[placeholder] {
    color: #000;
}

body {
    -webkit-user-select: none;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
    background: #f0f4f7;
    color: #757575;
    max-width: 750px;
    margin: auto;
    font-size: 30px;
}

html,
body {
    -webkit-text-size-adjust: none;
    height: 100%;
    min-width: 300px;
    width: 100%;
}

img {
    display: block;
}

a,
button,
input {
    -webkit-touch-callout: none;
    outline: none;
    color: #757575;
}

a,
a:visited {
    text-decoration: none;
    -webkit-touch-callout: none;
    color: #757575;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

html,
body {
    height: 100%;
    width: 100%;
    max-width: 640px;
    margin: auto;
    color: #fff;
}

.mid {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.page {
    height: 100%;
    display: none;
}

.page.active {
    display: block;
}

.page-index {
    background: url("../images/teacher/index-bg.png") #ffef7c no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
}

.page-register-done, .page-upload-done {
    background: url("../images/teacher/register-done-bg.png") #ffef7c no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
}

.page-register, .page-login {
    background: url("../images/teacher/register-bg.png") #ffef7c no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
}

.index-img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.index-img2 {
    position: absolute;
    top: 0;
    left: 40px;
}

.index-rule {
    position: absolute;
    left: 60px;
    top: 50%;
    margin-top: -35px;
    z-index: 3;
}

.crile-btn {
    display: block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    background: #ef4d67;
    color: #fff;
    text-align: center;
    font-size: 30px;
}

.index-btn-list {
    position: absolute;
    bottom: 60px;
    left: 40px;
    z-index: 4;
}

.index-btn {
    display: inline-block;
    margin-left: 30px;
}

.register-txt {
    padding-top: 90px;
    padding-bottom: 55px;
    margin: auto;
}

.login-txt {
    padding-top: 240px;
    padding-bottom: 55px;
    margin: auto;
}

.input {
    display: block;
    width: 330px;
    height: 45px;
    line-height: 45px;
    box-sizing: border-box;
    padding-left: 15px;
    background: #ffffff;
    margin: 0 auto 25px;
}

a.btn {
    display: block;
    width: 330px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #ef4d67;
    color: #FFFFFF;
    margin: auto;
}

.select {
    background: url("../images/teacher/arrow.png") #FFFFFF no-repeat 288px center;
}

.loading, .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99;
    display: none;
}

.loading {
    background: rgba(0, 0, 0, 0.4);
}

.pop-rule {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
}

.overlay .closed {
    position: absolute;
    right: 60px;
    top: 60px;
}

.loading-icon {
    width: 64px;
    height: 64px;

    -webkit-animation: weuiLoading 1s steps(12, end) infinite;
    animation: weuiLoading 1s steps(12, end) infinite;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -32px;
    margin-left: -32px;
    z-index: 999;
    display: none;
}

@-webkit-keyframes weuiLoading {
    0% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
    }

    100% {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes weuiLoading {
    0% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
    }

    100% {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
    }
}

.done-txt {
    padding: 340px 0 20px;
    margin: auto;
}

.page-upload {
    background: url("../images/teacher/upload-bg.png") no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
}

.upload-box {
    width: 544px;
    margin: auto;
    padding-top: 110px;
    overflow: hidden;
}

.upload-box .txt {
    margin: auto;
    padding-top: 15px;
}

.upload-box .file {
    position: absolute;
    z-index: 3;
}

.upload-box .file img {
    width: 100%;
}

.upload-box .wrap {
    position: relative;
    overflow: hidden;
}

.personPicBox, .groupPicBox {
    position: relative;
}

.personPicBox {
    float: left;
}

.groupPicBox {
    float: right;
}

.uploader-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
}

.words-box .txt {
    margin: auto;
    padding-top: 70px;
    padding-bottom: 20px;
}

.textarea-box {
    background: #FFFFFF;
    width: 580px;
    margin: 0 auto 40px;
    padding: 20px 15px;
    box-sizing: border-box;
}

.textarea {
    width: 100%;
    height: 300px;
    line-height: 1.2;
}

.textarea-box .textarea-counter {
    color: #B2B2B2;
    text-align: right;
    padding-top: 10px;
}

.page-upload-done .txt {
    padding-top: 230px;
    font-size: 30px;
    color: #4b4c4e;
    line-height: 1.4;
    text-align: center;
}

.page-upload-done .out-btn {
    position: absolute;
    right: 55px;
    bottom: 55px;
}

.page-wait {
    background: url("../images/teacher/wait-bg.png") no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
}

.page-wait .txt {
    margin: auto;
    padding-top: 305px;
    padding-bottom: 140px;
}

.page-fail {
    background: url("../images/teacher/fail-bg.png") no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
}

.page-fail .txt {
    margin: auto;
    padding-top: 230px;
    padding-bottom: 120px;
}

.page-pass {
    background: url("../images/teacher/pass-bg.png") no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
}

.page-pass .txt {
    margin: auto;
    padding-top: 270px;
    padding-bottom: 170px;
}

.page-detail {
    background: url("../images/teacher/detail-bg.png") no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
    display: block;
    height: auto;
    min-height: 100%;
    overflow: auto;
}

.page-detail .swiper-container {
    width: 500px;
    height: 337px;
    margin: auto;
}

.page-detail .swiper-container .swiper-pagination-bullet-active {
    background: #FFFFFF;
}

.page-detail .detail-title {
    margin: 0 auto 45px;
    padding-top: 70px;
}

.page-detail .swiper-img {
    width: 100%;
}

.page-detail .detail-vote-title {
    margin: auto;
    padding-top: 30px;
}

.page-detail .detail-vote-box {
    width: 500px;
    min-height: 100px;
    margin: auto;
    color: #39393b;
    padding-bottom: 30px;
    padding-top: 20px;
}

.page-detail .btn-list {
    width: 500px;
    margin: auto;
    overflow: auto;
}

.page-detail .vote-btn {
    float: left;
}

.page-detail .vote-btn.disable {
    float: left;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.page-detail .vote-counts {
    float: right;
    color: #39393b;
    line-height: 80px;
}

.word-title {
    padding-top: 60px;
    margin: auto;
}

.writeVoteBox {
    width: 500px;
    margin: auto;
    overflow: auto;
}

.writeVoteBox .writeVote {
    float: right;
    padding-top: 20px;
}

.word-list {
    width: 500px;
    margin: auto;
    color: #39393b;
    padding: 20px 20px 20px 40px;
    line-height: 1.4;
}

.word-list .word-item {
    padding-top: 30px;
    font-size: 24px;
}

.detail-more-btn {
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.page-list {
    background: url("../images/teacher/list-bg.png") no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
    display: block;
    height: auto;
    min-height: 1008px;
    overflow: auto;
}

.list-header {
    position: relative;
    width: 549px;
    margin: auto;
}

.list-title {
    padding-top: 75px;
}

.page-list .city-select {
    height: 36px;
    line-height: 36px;
    width: 100px;
    background: transparent url("../images/teacher/select-icon.png") no-repeat 70px center;
    position: absolute;
    right: 0;
    top: 105px;
}

.page-list .list-box {
    overflow: auto;
    padding-top: 40px;
    width: 548px;
    margin: auto;

}

.page-list .list-item {
    display: inline-block;
    margin-bottom: 30px;
}

.page-list .list-img {
    height: 180px;
    width: 270px;
    background: #f3f3f3;
    overflow: hidden;
}

.page-list .list-img img {
    width: 100%;
}

.page-list .list-des {
    padding-top: 10px;
    text-align: center;
    line-height: 1.4;
    color: #39393b;
}

.page-editPic {
    background: #000;
    position: relative;
    overflow: hidden;
}

.page-editPic .editPic-box img {
    z-index: 1;
    margin: auto;
}

.page-editPic .pic-btn-list {
    position: absolute;
    z-index: 11;
    width: 100%;
    bottom: 100px;
}

.page-editPic .pic-btn-list .cancel {
    float: left;
    margin-left: 20px;
    font-size: 30px;
    color: #FFFFFF;
}

.page-editPic .pic-btn-list .ok {
    float: right;
    margin-right: 20px;
    font-size: 30px;
    color: #FFFFFF;
}

.page-editPic .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/teacher/upload-mask-bg.png") no-repeat top center;
    z-index: 10;
    pointer-events: none;
}

.writeVoteBox .textarea-box {
    width: 500px;
}

.writeVoteBox .input {
    margin: 20px 0 10px;
    width: 100%;
}

.writeVoteForm {
    display: none;
}

.writeVoteForm.active {
    display: block;
}

#myCanvas {
    display: none;
}

.toast {
    position: fixed;
    z-index: 99;
    padding: 30px 80px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background: rgba(40, 40, 40, 0.75);
    text-align: center;
    border-radius: 10px;
    color: #FFFFFF;
    min-width: 200px;

    display: none;
}