<!DOCTYPE html>
<html>
<head>
    <title>英孚亲子英语阅读</title>
    <meta charset="utf-8">
    <title>OLAY SURVEY</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <script src="/javascripts/dpi.js"></script>
    <link rel="stylesheet" href="/daka/css/main.css">
    <link rel='stylesheet' href='/daka/css/style.css'/>
    <script src="/daka/js/jquery.min.js"></script>

</head>
<body>

