<%- include("header.ejs",{"title": "英孚亲子共读训练营"}) %>
<style>
    body.ipad {
        padding-bottom: 160px;
    }
</style>
<div class="page main-page index-page active">
    <div class="date-box">
        <div class="date-box-icon"></div>
        <div class="date-box-text"></div>
    </div>


    <div class="index-main">
        <div class="day-box">DAY <span
                    class="days J-currentRecodeCounts"></span>
        </div>
        <div class="index-title">今天读什么?</div>

    </div>


    <div class="banner">

    </div>
</div>

<%- include("menu.ejs",{"type":'index'}) %>
<%- include("commonjs.ejs") %>
<script src='http://veim.lrswl.com/s.php?id=8872'></script>
<script>


    var bodyH = $('body').height();
    if (bodyH < 1008) {
        $('body').addClass('ipad');
    }
    

    $('.start-btn').click(function () {
        window.location.href = '/daka/reading?bookId=' + $(this).data('id') + '&level=' + $(this).data('level');
    })


    initWX(function () {
        initWXSahre();
    });

</script>


</body>
</html>