<%- include("header.ejs",{"title": "英孚亲子共读训练营"}) %>
<style>
    body.ipad {
        padding-bottom: 160px;
    }

    .start-btn {
        margin: 30px auto;
        position: relative;
        z-index: 4;
        font-size: 26px;
    }

    .index-page .index-words-cn {
        font-size: 26px;
    }

    .index-page .index-words {
        height: 750px;
        overflow: auto;
    }

    /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
    .index-words::-webkit-scrollbar {
        width: 16px;
        height: 16px;
        background-color: #F5F5F5;
    }

    /*定义滚动条轨道 内阴影+圆角*/
    .index-words::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    /*定义滑块 内阴影+圆角*/
    .index-words::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #555;
    }
</style>
<div class="page main-page index-page active">
    <div class="date-box">
        <div class="date-box-icon"></div>
        <div class="date-box-text"></div>
    </div>

    <div class="mid">
        <div class="index-words">
            <div class="index-words-cn">
                亲爱的家长和小朋友们好~<br/><br/>第二期阅读活动从1月22日到4月1日，持续了70天，小E很开心地看到很多小朋友每天坚持打卡，更开心地是看到家长留言说小朋友越来越自信，英语也得到很大的提升。<br/><br/>现在小E很遗憾地告诉大家，第二期打卡要结束了。在大家等待新内容上线的期间，小E会和技术大哥们继续优化和完善我们的打卡程序和内容！<br/><br/>非常感谢大家的积极参与，小E很开心陪伴大家度过了一段美妙的英语学习时光。<br/><br/>最后再表扬一下：你们都很棒，小E给你们都准备了一个小小的证书。关闭此页面即可领取证书哟！
                <div style="text-align: center; position: absolute; right: 0;">小E<br/>2018年4月1日</div>
            </div>
        </div>
        <div class="start-btn">确定</div>
    </div>
</div>

<%- include("commonjs.ejs") %>


<script>

    var days = "<%           %>"
    $('.start-btn').click(function () {
        window.location.href = 'https://ma.eldesign.cn/daka/medal_detail2';
    });

    var now = "<%= now %>";
    initFloatDate(now);


    initWX(function () {
        initWXSahre();
    });

</script>


</body>
</html>