<%- include("header.ejs",{"title": "英孚亲子共读训练营"}) %>
<style>
    body.ipad {
        padding-bottom: 160px;
    }

    .start-btn {
        margin: 30px auto;
        position: relative;
        z-index: 4;
        font-size: 26px;
    }

    .index-page .index-words-cn {
        font-size: 26px;
    }

    .index-page .index-words {
        height: 900px;
        overflow: auto;
    }

    /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
    ::-webkit-scrollbar {
        width: 16px;
        height: 16px;
        background-color: #F5F5F5;
    }

    /*定义滚动条轨道 内阴影+圆角*/
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    /*定义滑块 内阴影+圆角*/
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #555;
    }
</style>
<div class="page main-page index-page active">
    <div class="date-box">
        <div class="date-box-icon"></div>
        <div class="date-box-text"></div>
    </div>

    <div class="index-words">
        <div class="index-words-cn">
            各位家长和小朋友们好~<br/><br/>今天小E要耽误大家几分钟时间，说一件很重要的事情！咳咳！（清嗓子）<br/><br/>时间过得很快，我们第一期的打卡活动结束啦。从12月4日开启打卡活动到现在，共有45885位家长和小朋友们参与每日打卡活动，非常感谢大家的积极参与，小E很开心能陪伴大家度过了一段美妙的学习英语的时光，相信小朋友们也都有所收获。 <br/><br/>
            在这段时间里，很多大朋友小朋友们在后台留言与小E互动，提出了许多宝贵的建议，并给小E加油打气，十分感谢大家的支持与鼓励！<br/><br/>在第二期活动开始之前，小E和技术大哥们会根据家长们的建议好好优化我们的打卡程序和内容，完善更多功能，给大家一个体验更好，内容质量更高的第二期！ <br/><br/>不会让大家久等的哟，咱们第二期打卡再见！ <br/><br/>对啦对啦，<b>最后一周的抽奖，我们会在元旦后抽取哟，敬请关注微信公众号中奖名单~ </b>
            <br/>
            <div style="text-align: right;">小E<br/>2017.12.29</div>
        </div>
    </div>
    <!--<div class="start-btn">返回</div>-->
</div>

<%- include("commonjs.ejs") %>


<script>

    $('.start-btn').click(function () {
        window.close();
    })

    var now = "<%= now %>";
    initFloatDate(now);


    initWX(function () {
        initWXSahre();
    });

</script>


</body>
</html>