<div class="menu-bar">
    <a href="/daka/index" class="menu-icon index-icon <%= (type == 'index' ? 'active' : '') %>"></a>
    <a href="/daka/plan" class="menu-icon plan-icon <%= (type == 'plan' ? 'active' : '') %>"></a>
    <a href="/daka/personal" class="menu-icon personal-icon <%= (type == 'personal' ? 'active' : '') %>"></a>
</div>