<%- include("header.ejs",{"title":'英孚亲子共读训练营'}) %>


<div class="page main-page index-page active">
    <div class="date-box">
        <div class="date-box-icon"></div>
        <div class="date-box-text"></div>
    </div>

    <div class="index-words">
        <div class="personal-title"><span class="J-nickname"></span> 欢迎您！</div>
        <ul class="personal-list">
            <li>阅读材料： <span class="number J-levelText"></span>
                <div class="setting-btn J-gotoLevel">设置</div>
            </li>
            <li>已阅读： <span class="number J-currentRecodeCounts">天</span></li>
            <li>累积阅读字数： <span class="number J-totalWordLength"></span></li>
            <li>徽章： <span class="number J-medalNumber"></span>
                <div class="setting-btn J-gotoMedal">查看</div>
            </li>
        </ul>
        <img src="../../../../daka/img/pic-logo.png" class="personal-logo">
    </div>

    <div class="index-main personal-main">
        <div class="personal-title">阅读提醒设置：</div>
        <div class="personal-time J-clockTime"></div>
        <div class="time-info">闹钟，每天</div>
        <div class="time-setting J-gotoSetup">设置</div>
        <hr class="personal-hr"/>
        <div class="personal-title">常见问题：</div>
        <a class="personal-question" href="/daka/start_detail">使用方法</a>
        <a class="personal-question" href="/daka/start_detail">关于打卡</a>
        <a class="personal-question" href="/daka/start_detail">奖励活动</a>
    </div>


</div>

<%- include("menu.ejs",{"type":'personal'}) %>
<%- include("commonjs.ejs") %>
<script>
    var now = "<%= now %>";
    initFloatDate(now);

    var medalArray = [3, 7, 14, 21, 30, 45, 60, 75, 90];

    getUserInfo(function (data) {
        var data = data.data[0];
        var personInfo = data['personInfo'];
        var recodeInfo = data['recodeInfo'];
        var clockInfo = data['clockInfo'];
        var level = data['level'];

        var headimgurl = personInfo ? personInfo['headimgurl'] : '';
        var nickname = personInfo ? personInfo['nickname'] : '';
        var currentRecodeCounts = recodeInfo ? recodeInfo['currentRecodeCounts'] || 0 : 0;
        var totalWordLength = recodeInfo ? recodeInfo['totalWordLength'] || 0 : 0;
        var medalNumber = 0;
        $('.J-nickname').text(nickname)
        $('.J-clockTime').text(clockInfo['clockTime']);
        $('.personal-logo').attr('src', headimgurl);
        $('.J-currentRecodeCounts').text(currentRecodeCounts + '天');
        $('.J-totalWordLength').text(totalWordLength);

        $('.J-levelText').text(level > 0 ? '7岁以上' : '3-6岁');


        medalArray.map(function (item, index) {
            if (currentRecodeCounts >= item) {
                medalNumber++;
            }
        });
        $('.J-medalNumber').text(medalNumber + '枚');
    })

    $('.J-gotoSetup').click(function () {
        window.location.href = '/daka/setup';
    })

    $('.J-gotoMedal').click(function () {
        window.location.href = '/daka/medal';
    })

    $('.J-gotoLevel').click(function () {
        window.location.href = '/daka/level?router=personal';
    })
</script>

</body>
</html>