<%- include("header.ejs",{"title":'微信JS-SDK 测试'}) %>

<div class="page main-page reading-page active">
    <div class="reading-title">TITLE TITLE TITLE TITLE TITLE TITLE</div>
    <div class="reading-main">
        The best kind of leader: one who creates independence, not dependence.The best kind of leader: one who creates
        independence, not dependence.The best kind of leader: one who creates independence, not dependence.The best kind
        of leader: one who creates independence, not dependence.
        <br/><br/>
        The best kind of leader: one who creates independence, not dependence.The best kind of leader: one who creates
        independence, not dependence.The best kind of leader: one who creates independence, not dependence.
        <br/><br/>
        The best kind of leader: one who creates independence, not dependence.The best kind of leader: one who creates
        independence, not dependence.The best kind of leader: one who creates independence, not dependence.
        <br/><br/>
    </div>
    <div class="record-btn-list active">
        <div class="record-btn btn-item">
            <img src="../../../../daka/img/record-icon.png" class="record-icon">
            <div class="record-status">点击录制</div>
        </div>

        <div class="againRecord-btn btn-item btn-item2">
            <img src="../../../../daka/img/againRecord.png" class="record-icon">
            <div class="record-status">重录</div>
        </div>
        <div class="playRecord-btn btn-item btn-item2">
            <img src="../../../../daka/img/playRecord.png" class="record-icon">
            <div class="record-status">回放</div>
        </div>
        <div class="gotoDaka-btn btn-item btn-item2">
            <img src="../../../../daka/img/gotoDaka.png" class="record-icon">
            <div class="record-status">去打卡</div>
        </div>
    </div>

    <div class="banner">
        <img src="../../../../daka/img/pic-banner.jpg">
    </div>
</div>

<%- include("menu.ejs",{"type":''}) %>


</body>
</html>