<%- include("header.ejs",{"title":'打卡'}) %>

<div class="start-banner">
    <img src="../../../../daka/img/start-banner.jpg">
    <img src="../../../../daka/img/logo.png" class="logo">
    <div class="banner-text">
        <div class="banner-number">DAY
            <span>21</span>
        </div>
        <div class="banner-hr"></div>
        <div class="banner-title">
            我和宝贝的21天亲子共读计划
            <div class="banner-info">2016/09/01 开始</div>
        </div>
    </div>
</div>

<div class="allInList">
    <div class="allInList-title"><%= docs.length %> 人已参加</div>
    <div class="allInList-main clearfix">
        <% for(var i = 0;i < docs.length || i < 22;i++){ %>
        <% if(docs[i]['personInfo'].headimgurl){ %>
        <img src="<%= docs[i]['personInfo'].headimgurl %>" class="allInList-item">
        <% }} %>
    </div>
</div>

<div class="startInfoList">
    <div class="startInfoList-title">我和宝贝的21天亲子共读计划</div>
    <div class="startInfoList-text">
        <div>活动奖品：</div>
        <div>特等奖 – 英孚青少儿国内校外营2周课程（1个）</div>
        <div>*每个季度进行一次大抽奖</div>
        <div>一等奖- 英孚青少儿校内营1周课程（3个）</div>
        <!--<div>二等奖- 语言运用俱乐部活动（10个）</div>-->
        <!--<div>三等奖- 英孚原创周边</div>-->
        <a href="/daka/start_detail">查看详情</a>
    </div>
    <div class="join-btn">我要参加</div>
</div>
<%- include("commonjs.ejs") %>

<script>
    $('.join-btn').click(function () {
        window.location.href = '/daka/index';
    });
</script>

<script>

    initWX(function () {
        initWXSahre();
    });

</script>
</body>
</html>