<%- include("header.ejs",{"title":'英孚亲子共读训练营'}) %>

<style>
    body {
        overflow: auto;
    }
</style>
<div class="start-banner start-detail-banner">
    <div class="banner-text">
        <div class="banner-number">DAY
            <span>21</span>
        </div>
        <div class="banner-hr"></div>
        <div class="banner-title">
            我和宝贝的亲子共读计划
            <%
            var now_month = new Date().getMonth() * 1 + 1;
            var now_date = new Date().getDate() * 1;
            %>
            <div class="banner-info"><%= new Date().getFullYear() %>
                /<%= now_month > 0 ? now_month : '0' + now_month; %>/<%= now_date > 0 ? now_date : '0' + now_date; %>
                开始
            </div>
        </div>
    </div>
</div>


<div class="rule-list">
    <div class="rule-list-text">欢迎加入英孚青少儿英语亲子共读计划，在这里，你将和全国各地的爸爸妈妈和宝贝比拼。</div>
    <br>
    <div class="rule-list-title">1. 打卡方法</div>
    <div class="rule-list-text">进入“英孚亲子口袋英语”公众号，点击“亲子共读打卡”菜单即可打卡。</div>

    <div class="rule-list-title"> 2. 抽奖方法</div>
    <div class="rule-list-text">
        累积打卡满21天即可获得英孚限量版零钱包，并获得一张抽奖券，参与月底抽奖，赢取英孚青少儿英语校内营1周课程或语言运用俱乐部活动。<br>
        连续打卡满21天可获得特等奖抽奖券，参与季度特等奖抽奖，赢取英孚青少儿英语国内校外营2周课程。
    </div>

    <div class="rule-list-title">3. 领奖方法</div>
    <div class="rule-list-text">在获得抽奖券时，请准确填写您的联系方式，我们会在中奖后主动联系您领奖。</div>

    <div class="rule-list-title">4.活动规则</div>
    <div class="rule-list-text">根据英孚所指定的阅读材料坚持打卡21天，活动包含阅读及朗读计划，打卡满21即可参与抽奖。</div>


    <div class="join-btn">我要参加</div>
</div>

<script>
    $('.join-btn').click(function () {
        window.location.href = '/daka/index';
    })
</script>

</body>
</html>