@font-face {
  font-family: MHEIPRCHEAVY;
  src: url('../font/1.ttf');
}
body {
  font-family: MHEIPRCHEAVY, Arial, Helvetica, sans-serif;
}
select {
  -webkit-appearance: none !important;
          appearance: none !important;
}
.f-hide {
  display: none;
}
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}
.mid {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.page {
  width: 100%;
  height: 100%;
  display: none;
  background: url("../img/bg.png") #ffffff top center no-repeat;
  background-size: cover;
  font-size: 24px;
  color: #000;
}
.biggerFont {
  font-size: 40px !important;
}
.swiper-container,
.start-swiper-container {
  width: 100%;
  height: 100%;
}
.start-swiper-container {
  overflow: hidden;
}
.swiper-slide {
  overflow: hidden;
}
.btn.active {
  -webkit-filter: none;
          filter: none;
}
.btn {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  background: url(../img/btn.png) no-repeat;
  width: 371px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  text-align: center;
  color: #ffffff;
  font-size: 36px;
  position: relative;
  z-index: 10;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.swiper-slide-active .btn.withDog::before {
  -webkit-animation: dogImgAni 1s step-start both 999;
          animation: dogImgAni 1s step-start both 999;
}
.btn.withDog::before {
  content: "";
  display: block;
  background: url(../img/loading-img-1.png) no-repeat;
  width: 171px;
  height: 64px;
  position: absolute;
  margin-top: -64px;
  margin-left: -9px;
}
.loading-page {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.loading-page .loading-img {
  margin: 300px auto 0;
}
.loading-page .loading-dots {
  text-align: center;
  padding-top: 26px;
}
.loading-page.page.active .loading-img {
  -webkit-animation: dogImgAni 1s step-start both 999;
          animation: dogImgAni 1s step-start both 999;
}
.dog {
  background: url(../img/loading-img-1.png) no-repeat;
  width: 171px;
  height: 64px;
}
.Q-item .radio {
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
  border: 3px #000 solid;
  position: relative;
}
.Q-item.active {
  -webkit-animation: QoptionAni 1s ease both;
          animation: QoptionAni 1s ease both;
}
.Q-item.active .radio::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #ef9348;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
}
.page.active {
  display: block;
}
.page.active .loading-dots .dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 38px;
  background-color: #ff8688;
  -webkit-animation: dot1Ani 3s step-start both 999;
          animation: dot1Ani 3s step-start both 999;
}
.page.active .loading-dots .dot:nth-of-type(2) {
  background-color: #fbb600;
  -webkit-animation: dot2Ani 3s step-start both 999;
          animation: dot2Ani 3s step-start both 999;
}
.page.active .loading-dots .dot:nth-of-type(3) {
  background-color: #5ac4d9;
  -webkit-animation: dot3Ani 3s step-start both 999;
          animation: dot3Ani 3s step-start both 999;
}
.page.active .loading-dots .dot:nth-of-type(4) {
  background-color: #b4c940;
  margin-right: 0;
  -webkit-animation: dot4Ani 3s step-start both 999;
          animation: dot4Ani 3s step-start both 999;
}
.start-page {
  max-height: 1086px;
  background: url(../img/startpage-bg.png) no-repeat center;
  background-size: cover;
}
.start-page.start-page-v2 {
  background: url(../img/startpage-v2-bg.png) no-repeat center;
  background-size: cover;
}
.start-page.start-page-v2 .btn {
  bottom: 80px;
}
.start-page .startpage-music {
  position: absolute;
  top: 440px;
  right: 58px;
}
.start-page .startpage-icon1 {
  position: absolute;
  left: 76px;
  top: 30px;
}
.start-page .startpage-icon2 {
  position: absolute;
  left: 328px;
  top: 67px;
}
.start-page .btn {
  background: url(../img/btn_1.png);
  width: 379px;
  height: 68px;
  line-height: 68px;
  position: absolute;
  bottom: 140px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.start-page.swiper-slide-active .startpage-music {
  -webkit-animation: OpAni 1s ease both 999;
          animation: OpAni 1s ease both 999;
}
.start-page.swiper-slide-active .startpage-icon1 {
  -webkit-animation: OpAni 1s ease both 999;
          animation: OpAni 1s ease both 999;
}
.start-page.swiper-slide-active .startpage-icon2 {
  -webkit-animation: OpAni 1s ease both 999;
          animation: OpAni 1s ease both 999;
}
.start-page.swiper-slide-active .btn {
  -webkit-animation: btnAni 1s step-end both 999;
          animation: btnAni 1s step-end both 999;
}
.gender-page .pic {
  margin: 155px auto 0;
}
.gender-page .Q-list {
  width: 447px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: flex;
}
.gender-page .Q-item {
  width: 50%;
  -webkit-box-flex: 1;
          flex: 1;
}
.gender-page .Q-item .radio,
.gender-page .Q-item .label {
  display: block;
  margin: 20px auto 0;
  text-align: center;
}
.h45 {
  height: 45px !important;
}
.mb45 {
  margin-bottom: 45px !important;
}
.Question-page .Q-title {
  color: #ef9348;
  width: 550px;
  margin: 70px auto 35px;
  font-size: 36px;
  box-sizing: border-box;
}
.Question-page .Q-list {
  width: 550px;
  margin: auto;
}
.Question-page .Q-list .Q-item {
  height: 70px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: flex;
}
.Question-page .Q-list .Q-item .radio,
.Question-page .Q-list .Q-item .label {
  display: inline-block;
  font-size: 30px;
}
.Question-page .Q-list .Q-item .label {
  padding-left: 15px;
  box-sizing: border-box;
  position: absolute;
  width: 530px;
}
.Question-page .Q-list .Q-item .radio {
  float: left;
  margin-top: 8px;
}
.Question-page .Q-list .Q-item .radio.music-radio {
  vertical-align: super;
}
.Question-page .Q-list .Q-item .image {
  display: inline-block;
  padding-left: 65px;
}
.Question-page .Q-list .Q-item.imageItem {
  height: 200px;
}
.Question-page .Q-list .Q-item.imageItem .label {
  position: relative;
  width: 500px;
}
.Question-page .Q-list .Q-item.imageItem .radio {
  float: none;
  margin-top: 0;
}
.Question-page .Q-list .Q-item .music {
  padding-left: 20px;
  display: inline-block;
}
.Question-page .Q-list .Q-item .music .pross {
  width: 295px;
  height: 42px;
  background: url(../img/music-pross.png) no-repeat center;
  background-size: 100% 100%;
  display: inline-block;
}
.Question-page .Q-list .Q-item .music .pross-icon {
  margin-top: 7px;
  margin-left: 16px;
}
.Question-page .Q-list .Q-item .music.play .pross-icon {
  -webkit-animation: OpAni 2s ease-out both 999;
          animation: OpAni 2s ease-out both 999;
}
.Question-page .Q-list .Q-item .music .readIcon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #dc475b;
  vertical-align: top;
}
.Question-page .Q-list .Q-item .music.done .readIcon {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.Question-page .Q-list .Q-item .music .timer {
  color: #ef9348;
  font-size: 30px;
  vertical-align: super;
}
.Question-page .btn {
  margin-top: 50px;
}
.Question-page .Q-pic {
  margin: auto;
  width: 412px;
  height: 385px;
  object-fit: contain;
  object-position: center;
}
.leads-page .leads-title {
  margin: 100px auto 0;
}
.leads-page .leads-pic {
  margin: 15px auto 40px;
}
.leads-page .form {
  width: 470px;
  margin: auto;
  padding: 70px 0;
}
.leads-page .input {
  text-align: center;
}
.leads-page .input,
.leads-page .selectWrap {
  background: url(../img/input-bg.png) no-repeat center;
  border: none;
  display: block;
  width: 470px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  margin-bottom: 25px;
  color: #ef9348;
}
.leads-page .inputWrap {
  background: url(../img/input-code-bg.png) no-repeat center;
}
.leads-page .inputWrap.disabled {
  background: url(../img/input-code-disable-bg.png) no-repeat center;
}
.leads-page .qcode-btn {
  height: 100%;
  width: 210px;
  text-align: center;
  color: #ffffff;
  float: left;
}
.leads-page .qcode-input {
  width: 260px;
  float: left;
  background: none;
}
.leads-page .select {
  background: url(../img/select-icon.png) no-repeat right 20px center;
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  font-size: 30px;
  color: #ef9348;
  text-align: center;
  text-align-last: center;
}
.leads-page .year-select,
.leads-page .month-select,
.leads-page .date-select {
  background: url(../img/select-icon.png) no-repeat right center;
  width: 200px;
  display: inline-block;
}
.leads-page .month-select,
.leads-page .date-select {
  width: 100px;
  padding-right: 40px;
}
.leads-page .btn {
  margin-top: 25px;
}
.result-page {
  max-height: 1086px;
}
.result-page.result-v2 {
  background: url('../img/result-v2-bg.jpg') repeat top;
}
.result-page .result-text {
  font-size: 24px;
  color: #ffffff;
  line-height: 40px;
  background: rgba(41, 41, 41, 0.3);
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
}
.result-page .result-pic {
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: bottom;
}
.toast {
  position: fixed;
  z-index: 99;
  padding: 30px 80px;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(40, 40, 40, 0.75);
  text-align: center;
  border-radius: 10px;
  color: #FFFFFF;
  min-width: 200px;
  font-size: 24px;
  display: none;
}
#myCanvas {
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  background: #fff;
  z-index: 1000;
}
.result-txt {
  position: absolute;
  bottom: 52px;
  right: 158px;
}
.result-v2 .result-txt.female_1_1,
.result-v2 .result-txt.female_1_2,
.result-v2 .result-txt.female_1_3,
.result-v2 .result-txt.male_1_1,
.result-v2 .result-txt.male_1_2,
.result-v2 .result-txt.male_1_3 {
  background: #da9b2c;
}
.result-v2 .result-txt.female_2_1,
.result-v2 .result-txt.female_2_2,
.result-v2 .result-txt.female_2_3,
.result-v2 .result-txt.male_2_1,
.result-v2 .result-txt.male_2_2,
.result-v2 .result-txt.male_2_3 {
  background: #7c7c94;
}
.result-v2 .result-txt.female_3_1,
.result-v2 .result-txt.female_3_2,
.result-v2 .result-txt.male_3_1,
.result-v2 .result-txt.male_3_2 {
  background: #7b4140;
}
.result-v2 .result-txt.female_4_1,
.result-v2 .result-txt.female_4_2,
.result-v2 .result-txt.male_4_1,
.result-v2 .result-txt.male_4_2 {
  background: #496661;
}
.result-v1 .female_1_1 {
  background: #7bc4d3;
}
.result-v1 .female_1_2 {
  background: #a48a7d;
}
.result-v1 .female_2_1 {
  background: #519570;
}
.result-v1 .female_2_2 {
  background: #7c7c94;
}
.result-v1 .female_3_1 {
  background: #c74a4e;
}
.result-v1 .female_4_1 {
  background: #486761;
}
.result-v1 .male_1_1 {
  background: #a48a7d;
}
.result-v1 .male_2_1 {
  background: #7c7c94;
}
.result-v1 .male_3_1 {
  background: #7b4140;
}
.result-v1 .male_4_1 {
  background: #da9a2c;
}
@-webkit-keyframes dot1Ani {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes dot1Ani {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes dot2Ani {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes dot2Ani {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes dot3Ani {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes dot3Ani {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes dot4Ani {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes dot4Ani {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes dogImgAni {
  0%,
  100% {
    background: url(../img/loading-img-1.png) no-repeat;
  }
  50% {
    background: url(../img/loading-img-2.png) no-repeat;
  }
}
@keyframes dogImgAni {
  0%,
  100% {
    background: url(../img/loading-img-1.png) no-repeat;
  }
  50% {
    background: url(../img/loading-img-2.png) no-repeat;
  }
}
@-webkit-keyframes btnAni {
  0%,
  100% {
    background: url(../img/btn_1.png) no-repeat;
    color: #fff;
  }
  50% {
    background: url(../img/btn_2.png) no-repeat;
    color: #ef9348;
  }
}
@keyframes btnAni {
  0%,
  100% {
    background: url(../img/btn_1.png) no-repeat;
    color: #fff;
  }
  50% {
    background: url(../img/btn_2.png) no-repeat;
    color: #ef9348;
  }
}
@-webkit-keyframes OpAni {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes OpAni {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes QoptionAni {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -6px, 0);
            transform: translate3d(0, -6px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes QoptionAni {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -6px, 0);
            transform: translate3d(0, -6px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
