<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=0"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="HandheldFriendly" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <script src="/javascripts/dpi750.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

</head>
<body>


<div class="loading"></div>
<img src="/images/teacher/loading.png" class="loading-icon"/>
<div class="toast"></div>
<script>
    var loadingShow = function () {
        $('.loading').show();
        $('.loading-icon').show();
    }

    var loadingHide = function () {
        $('.loading').hide();
        $('.loading-icon').hide();
    }

    var toast = function (msg, timer) {
        $('.toast').text(msg).fadeIn();
        setTimeout(function () {
            $('.toast').fadeOut();
        }, timer || 1000)
    }
</script>

