<%- include("header.ejs",{"title":'英孚国际留学备考'}) %>

<style>


    .form-wrap {
        background: #c1bbbb;
        background-size: 640px auto;
        width: 100%;
        color: #000;
        font-family: Arial, serif;
        font-size: 28px;
        line-height: 40px;
        padding: 30px 0;
    }

    .form {
        width: 450px;
        margin: auto;
    }

    .form .input {
        background: #e6e7e7;
        margin: 0;
        width: 100%;
        border-bottom: 1px solid #908c8b;
        line-height: 40px;
        height: 40px;
    }

    .pic {
        width: 100%;
    }

    .form .submit {
        background: #cd007f;
        line-height: 48px;
        color: #ffffff;
        text-align: center;
        display: block;
        margin-top: 20px;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
    }

    .select {
        float: left;
        background: none;
    }

    .city {
        width: 45%;
        box-sizing: border-box;
        border-right: 1px solid #908c8b;
    }

    .type {
        width: 55%;
        box-sizing: border-box;
        padding-left: 25px;
    }

    input::-webkit-input-placeholder {
        color: #000000;
    }

    .banner {
        width: 80%;
        margin: auto;
    }

    .pic4 {
        margin: auto;
    }

    .footer {
        display: none;
        line-height: 72px;
        text-align: center;
        color: #FFFFFF;
        background: #ED008C;
        font-size: 26px;
        width: 100%;
        position: fixed;
        bottom: 0;
    }

    .privacy_main_cs {
        font-size: 24px;
    }

    .privacy_main_cs a {
        color: #1e7bbb;
        text-decoration: underline;
    }

    .privacy_check_cs {
        height: 30px;
        width: 30px;
        display: inline-block;
        -webkit-appearance: checkbox;
        margin-top: 10px;
    }

    .submit.disable {
        -webkit-filter: grayscale(100%);
        pointer-events: none;
        cursor: pointer;
    }
</style>

<img class="pic" src="/images/leads/v7/pic1.png"/>
<div class="form-wrap">
    <img class="banner" src="/images/leads/v7/banner.jpg"/>
    <div class="form">
        <input type="text" placeholder="学生姓名" class="input" name="realName"/>
        <input type="tel" placeholder="联系电话" class="input" name="cellPhone"/>
        <input type="number" placeholder="学生年龄" class="input" name="age"/>
        <div class="input">
            <select class="select city" name="city">
                <option value="">城市</option>
                <option value="上海浦东中心">上海浦东中心</option>
                <option value="上海浦西中心">上海浦西中心</option>
                <option value="广州中环中心">广州中环中心</option>
                <option value="深圳世纪汇中心">深圳世纪汇中心</option>
            </select>
            <select class="select type" name="type">
                <option value="">测试类别</option>
                <option value="托福">托福</option>
                <option value="雅思">雅思</option>
                <option value="SAT">SAT</option>
                <option value="CEFR英语测试">CEFR英语测试</option>
            </select>
        </div>
        <label class="privacy_main_cs">
            <input type="checkbox" class="privacy_check_cs" checked>
            我已阅读并同意<a rel="nofollow" target="_blank" href="http://cnce1m2.ef.cn/officialsite/cn/privacy/privacy.pdf">英孚隐私政策</a>       </span>
            ,并同意接收EF推送的商业性信息。
        </label>

        <a href="#" class="submit">免费领取</a>
    </div>
</div>
<img class="pic" src="/images/leads/v7/pic2.jpg"/>
<img class="pic" src="/images/leads/v7/pic3.jpg"/>
<div style="height: 72px"></div>
<div class="footer">本月注册立获500元学习大礼包!</div>
<script src="/javascripts/jquery.js"></script>

<script>

    $('.privacy_main_cs').click(function () {
        if (!$('.privacy_check_cs:checked').length) {
            $('.submit').addClass('disable');
        } else {
            $('.submit').removeClass('disable');
        }
    })

    $('.submit').click(function () {
        var $form = $(this).parents('.form');
        var data = {
            realName: $form.find("[name='realName']").val(),
            cellPhone: $form.find("[name='cellPhone']").val(),
            age: $form.find("[name='age']").val(),
            cityName: $form.find("[name='city']").val(),
            others: $form.find("[name='type']").val(),
            tag: 'v7'
        }
        var v = true;
        $.each(data, function (i, t) {
            if (t.length <= 0 && v) {
                toast('选项不能为空');
                v = false;
            }
        })

        if (!v) {
            return false;
        }

        if (data.cellPhone && !checkTel(data.cellPhone)) {
            toast('手机号码格式有误');
            return false;
        }

        if (data.age && !(data.age < 99 && data.age > 1)) {
            toast('年龄不在范围内');
            return false;
        }

        loadingShow();
        $.ajax({
            type: 'POST',
            url: '/leads/api/addLeads',
            data: data,
            success: function (data) {
                console.log(data);
                loadingHide();
                if (data.status == '200') {
                    toast('提交成功');
                    $('.form-wrap').hide();
                } else {
                    toast(data.errmsg);
                }
            },
            dataType: 'json'
        });
    })

    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            $('.footer').fadeIn();
        } else {
            $('.footer').fadeOut();
        }
    });
    $('.footer').click(function () {
        $('html, body').animate({scrollTop: '0px'}, 800);
        return false;
    });

    function checkTel(tel) {
        var reg = /^0?1[3|4|5|7|8|9][0-9]\d{8}$/;
        return reg.test(tel);
    }
</script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?3bdcd19ea5a52ab4ee3aecc0635fefce";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>


</body>
</html>
