body,
h1,
h2,
h3,
p,
dl,
ul,
ol,
form {
  margin: 0;
  padding: 0;
  font-size: 32px;
  color: #5f5f5f;
  line-height: 1;
}

dd {
  margin-left: 0;
}

input,
select {
  -webkit-appearance: none;
  outline: none;
}

button,
input[type="button"] {
  background: none;
  border: none;
}

:focus {
  outline: 0;
}

ol,
ul {
  list-style-type: none;
}

.clear-both {
  clear: both;
  height: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  display: block;
}

em,
var {
  font-style: normal;
}

input {
  margin: 0;
  padding: 0;
}

.mid {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.scale {
  transform: scale(0.7);
}

html,
body {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: #f5f5f5;
}

i {
  font-style: normal;
}

table,
tr,
th,
td {
  margin: 0;
  padding: 0;
}

video {
  font-size: 100%;
  line-height: 0;
  vertical-align: baseline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

::-webkit-input-placeholder {
  color: #adadad;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

img[src=""] {
  opacity: 0 !important;
}

.toast {
  position: fixed;
  z-index: 99;
  padding: 30px 80px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  background: rgba(40, 40, 40, 0.75);
  text-align: center;
  border-radius: 10px;
  color: #ffffff;
  min-width: 200px;
  font-size: 24px;
  display: none;
}

.page {
  height: 100%;
  width: 100%;
  overflow: auto;
  background: #f5f5f5;
  background: url("../img/index-done-bg.jpg") no-repeat center;
  background-size: cover;
  position: relative;
}

.page .upload-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../img/icon-upload.png") center no-repeat;
}

.page .upload-mask input {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.page .upload-mask img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.page .top-title {
  text-align: center;
  height: 94px;
  line-height: 94px;
  width: 100%;
  border-bottom: 1px solid #eadde0;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
}

.page .top-title img {
  position: absolute;
  top: 32px;
  left: 40px;
}

.page .main {
  text-align: center;
  position: relative;
  overflow: auto;
  font-size: 25px;
  width: 640px;
  height: 1008px;
}

.page .main .title {
  position: absolute;
  top: 3.2em;
  width: 100%;
  margin: auto;
  line-height: 1.5em;
  z-index: 1;
}

.page .main .title .title-en img {
  margin: auto;
}

.page .main .title .title-ch {
  font-size: 30px;
  margin-top: 0.3em;
}

.page .main .title .title-text {
  font-size: 20px;
  margin-top: 0.3em;
}

.page .main .photo {
  margin-top: 6.4em;
  position: relative;
  overflow: auto;
}

.page .main .photo img {
  object-fit: cover;
  object-position: center;
  height: 30em;
  width: 100%;
}

.page .main .photo .photo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.page .main .info {
  font-size: 25px;
  line-height: 1.5em;
  position: relative;
}

.upload-mask.uploaded {
  display: none;
}

.page .J-uploaded-img {
  position: absolute !important;
  transform: scale(1.5);
}

.list-photo {
  height: 390px;
}

.page .main .photo img.list-uploaded-img {
  height: 30em;
  width: auto;
}

.page2.page .main .info {
  margin-top: 20px;
}

.page .main .info .name img {
  display: inline-block;
}

.page .btn-groups {
  width: 100%;
}

.page .btn-groups .btn {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  width: 415px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 25px;
  background: #fff;
  color: #221815;
  border-radius: 10px;
}

.page .btn-groups .btn-primary {
  background: #e7abbd;
}

.swiper-slide-active .main .title {
  animation: fadeInDown 2s both;
}

.swiper-slide-active .main .photo {
  animation: zoomIn 2s both;
}

.swiper-slide-active .main .info {
  animation: fadeInUp 2s both;
}

.swiper-slide-active .img-wrapper {
  animation: zoomIn 2s both;
  position: relative;
  overflow: hidden;
}

.swiper-slide-active .content {
  animation: zoomIn 2s both;
}

.swiper-slide-active .text-wrapper {
  animation: fadeInUpBig 2s both;
}

.swiper-slide-active .text {
  animation: fadeInDown 2s both;
}

.swiper-slide-active.page7 .text {
  animation: none;
}

.login-page {
  background: url("../img/login-bg.jpg") no-repeat center;
  background-size: cover;
}

.login-page .title {
  margin: 0 auto 160px;
}

.login-page .form {
  width: 320px;
  margin: auto;
}

.login-page .form .row {
  height: 44px;
  border-bottom: 1px solid #ddddde;
  padding-bottom: 6px;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  position: relative;
}

.login-page .form .row input {
  background: transparent;
  border: none;
}

.login-page .form .row input:not(.get-code-btn) {
  width: 100%;
  font-size: 26px;
}

.login-page .form .row .get-code-btn {
  position: absolute;
  right: 0;
  bottom: 7px;
  font-size: 24px;
}

.login-page .login-btn {
  margin: 100px auto 0;
}

.index-page {
  position: relative;
}

.index-page .action-btn {
  text-align: center;
  position: absolute;
  width: 100%;
}

.index-page .action-btn img {
  margin: auto;
}

.index-page .empty {
  background: url("../img/index-empty-bg.jpg") no-repeat center;
  background-size: cover;
  overflow: inherit;
  height: inherit;
  display: none;
}

.index-page .empty .title {
  margin-top: 325px;
  text-align: center;
  color: #595757;
  font-size: 30px;
}

.index-page .empty .content {
  margin-top: 270px;
  text-align: center;
}

.index-page .empty .content img {
  margin: auto;
}

.index-page .empty .action-btn {
  bottom: 230px;
}

.index-page .empty.active {
  display: block;
}

.index-page .done {
  overflow: inherit;
  height: inherit;
  display: none;
  color: #64586f;
}

.index-page .done .message {
  position: absolute;
  top: 110px;
  right: 50px;
}

.index-page .done .message .message-cnt {
  position: absolute;
  width: 36px;
  height: 36px;
  line-height: 36px;
  background: #f14848;
  color: #fff;
  font-size: 22px;
  text-align: center;
  right: -10px;
  top: -10px;
  border-radius: 50%;
}

.index-page .done .swiper-container {
  margin: 175px auto 40px;
  width: 100%;
  height: 645px;
}

.index-page .done .swiper-container .swiper-slide {
  width: 386px;
  position: relative;
}

.index-page .done .swiper-container .swiper-slide .action-group {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.index-page .swiper-container .swiper-slide:first-child {
  margin-left: 130px;
}

.index-page .done .action-btn {
  bottom: 80px;
}

.index-page .done.active {
  display: block;
}

.message-page {
  font-size: 28px;
}

.message-page .nav-list {
  height: 75px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 95px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #a19999;
  background: #dddddd;
}

.message-page .nav-list .nav-item {
  color: 221815;
}

.message-page .nav-list .nav-item.active {
  color: #d23034;
}

.message-page .nav-content {
  display: none;
}

.message-page .nav-content.active {
  display: block;
}

.message-page .blessing-list {
  margin-top: 170px;
}

.message-page .blessing-list .blessing-item-wrapper .blessing-item {
  height: 144px;
  padding: 0 45px 0 65px;
  border-bottom: 1px solid #a19999;
  position: relative;
}

.message-page .blessing-list .blessing-item-wrapper .blessing-item .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60%;
  color: #221815;
}

.message-page .blessing-list .blessing-item-wrapper .blessing-item .content {
  color: #595757;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.2;
}

.message-page
  .blessing-list
  .blessing-item-wrapper
  .blessing-item
  .action-icon {
  position: absolute;
  top: 95px;
  right: 45px;
}

.message-page .blessing-list .blessing-item-wrapper .btn-wrapper {
  width: 100%;
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid #d5d5d7;
  background: #f3f3f5;
  display: none;
}

.message-page .blessing-list .blessing-item-wrapper .btn-wrapper.active {
  display: flex;
}

.message-page .blessing-list .blessing-item-wrapper .btn-wrapper .btn {
  display: block;
  width: 180px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  color: #e7abbd;
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
  margin: auto;
}

.message-page .attend-content {
  margin-top: 170px;
  width: 100%;
}

.message-page .attend-content .attend-total {
  height: 64px;
  line-height: 64px;
  border-bottom: 1px solid #a19999;
  text-align: center;
}

.message-page .attend-empty {
  margin: 300px auto;
  text-align: center;
  line-height: 2;
}

.message-page .attend-content .attend-list .attend-item {
  height: 144px;
  padding: 0 45px 0 65px;
  box-sizing: border-box;
  border-bottom: 1px solid #a19999;
}

.message-page .attend-content .attend-list .attend-item .name {
  height: 40%;
  padding-top: 30px;
}

.message-page .attend-content .attend-list .attend-item .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.choose-page .tpl-list {
  margin: 155px 50px 30px;
}

.choose-page .tpl-list .tpl-item {
  float: left;
  margin: 0 13px 30px;
}

.form-page .form {
  margin-top: 95px;
  font-size: 28px;
}

.form-page .form .row {
  height: 70px;
  box-sizing: border-box;
  padding-left: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid #aca4a5;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.form-page .form .row img {
  position: absolute;
  right: 40px;
  bottom: 8px;
}

.form-page .form .row input {
  width: 60%;
  border: none;
  background: transparent;
  font-size: 28px;
}

.form-page .form .row:last-child input {
  width: 90%;
}

.form-page .map {
  width: 550px;
  height: 316px;
  margin: 44px auto 66px;
}

.form-page .action-btn a {
  display: block;
  border-radius: 10px;
  border: 1px solid #777;
  background: #fff;
  color: #3c393a;
  width: 100px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  text-align: center;
}

.template-container {
  width: 100%;
  height: 100%;
}

.template-container .page7 .mid {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #aa9ca2;
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.2);
  padding: 25px 40px;
  box-sizing: border-box;
  text-align: center;
}

.template-container .page7 .mid .portrait {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  background: #fff;
  margin: auto;
}

.template-container .page7 .mid .portrait img {
  padding-top: 8px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  object-fit: cover;
}

.template-container .page7 .mid .text {
  margin: 20px auto 35px;
}

.template-container .page7 .mid .map {
  width: 415px;
  height: 415px;
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.2);
}

.template-container .page7 .mid .info {
  margin-top: 40px;
  font-size: 25px;
  line-height: 1.5em;
}

.template-container .page7 .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  padding: 20px;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.template-container .page7 .bottom .item {
  font-size: 24px;
  width: 33%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.template-container .page7 .bottom .item img {
  display: inline-block;
  padding-right: 5px;
}

.template-container .page7 .bottom .item:nth-child(2) {
  border-left: 1px solid #777;
  border-right: 1px solid #777;
}

.template-container .page7 .btn-reply {
  width: 100%;
  position: absolute;
  bottom: 50px;
  z-index: 10;
}

.template-container .page7 .btn-reply img {
  margin: auto;
}

.template-container .page7 .modal .share-groups {
  position: absolute;
  width: 100%;
  bottom: 230px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.template-container .page7 .modal .share-groups .item {
  color: #fff;
  font-size: 25px;
}

.template-container .page7 .modal .share-groups .item img {
  margin: 0 auto 10px;
}

.template-container .page7 .modal .btn-wrapper {
  width: 100%;
  position: absolute;
  bottom: 100px;
}

.template-container .page7 .modal .btn-wrapper .btn-cancel {
  margin: auto;
}

.template-container .page8 .mid {
  width: 100%;
  text-align: center;
}

.template-container .page8 .mid img {
  margin: auto;
}

.template-container .page8 .mid .text {
  margin: 20px auto 135px;
}

.swiper-container.tpl1-container .swiper-slide img,
.swiper-container.tpl1-container .swiper-slide .img-wrapper {
  opacity: 0;
}

.swiper-container.tpl1-container .swiper-slide-active img,
.swiper-container.tpl1-container .swiper-slide-active .img-wrapper {
  position: relative;
  opacity: 1;
}

.swiper-container.tpl1-container .tpl1-page {
  background: url("../img/tpl1-1.jpg") no-repeat center;
  background-size: cover;
}

.swiper-container.tpl1-container .page1 .main .photo {
  width: 640px;
  height: 640px;
  overflow: hidden;
}


.swiper-container.tpl1-container .page2 .main .photo {
  margin-top: 68px;
  height: 724px;
  overflow: hidden;
}

.swiper-container.tpl1-container
  .swiper-slide-active.page2
  .main
  .photo
  .ant-right-top {
  position: absolute;
  right: 0;
  top: 0;
  width: 364px;
  height: 318px;
  animation: swing 5s 99;
  pointer-events: none;
}

.swiper-container.tpl1-container
  .swiper-slide-active.page2
  .main
  .photo
  .ani-left-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 390px;
  height: 324px;
  animation: swing 5s 99 2s;
  pointer-events: none;
}

.swiper-container.tpl1-container .page3,
.swiper-container.tpl1-container .page4 {
  background: url("../img/tpl1-bg-3.jpg") no-repeat center;
  background-size: cover;
}

.swiper-container.tpl1-container .page3 .img-wrapper,
.swiper-container.tpl1-container .page4 .img-wrapper,
.swiper-container.tpl1-container .page5 .img-wrapper,
.swiper-container.tpl1-container .page6 .img-wrapper {
  background-color: #b0b0ba;
  position: relative;
}

.swiper-container.tpl1-container .page3 .img-wrapper img,
.swiper-container.tpl1-container .page4 .img-wrapper img,
.swiper-container.tpl1-container .page5 .img-wrapper img,
.swiper-container.tpl1-container .page6 .img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.swiper-container.tpl1-container .page3 {
  position: relative;
}

.swiper-container.tpl1-container .page3 .text {
  position: absolute;
  top: 100px;
  right: 45px;
}

.swiper-container.tpl1-container .page3 .content {
  width: 390px;
  height: 100%;
  margin: auto;
  margin-top: 230px;
  position: relative;
}

.swiper-container.tpl1-container .page3 .content .img-wrapper {
  height: 260px;
  margin-bottom: 30px;
}

.swiper-container.tpl1-container .page3 .ani-left-top {
  position: absolute;
  left: 0;
  top: 0;
}

.swiper-container.tpl1-container .page3 .ani-left-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
}

.swiper-container.tpl1-container .page3 .ani-right-bottom {
  position: absolute;
  right: 0;
  top: 540px;
}

.swiper-container.tpl1-container .page3.swiper-slide-active .text {
  animation: fadeInDown 3s 1s both;
}

.swiper-container.tpl1-container .page3.swiper-slide-active .ani-left-top {
  animation: fadeInLeft 2s 1s both;
}

.swiper-container.tpl1-container .page3.swiper-slide-active .ani-left-bottom {
  animation: fadeInLeft 2s 2s both;
}

.swiper-container.tpl1-container .page3.swiper-slide-active .ani-right-bottom {
  animation: fadeInRight 2s 2s both;
}

.swiper-container.tpl1-container .page4 {
  position: relative;
}

.swiper-container.tpl1-container .page4 .text {
  position: absolute;
  top: 280px;
  right: 80px;
}

.swiper-container.tpl1-container .page4 .img-wrapper:nth-of-type(1) {
  top: 160px;
  left: 50px;
  width: 290px;
  height: 300px;
  position: absolute;
}

.swiper-container.tpl1-container .page4 .img-wrapper:nth-of-type(2) {
  top: 480px;
  left: 208px;
  width: 365px;
  height: 380px;
  position: absolute;
}

.swiper-container.tpl1-container .page4 .ani-left {
  position: absolute;
  left: 0;
  bottom: 0;
}

.swiper-container.tpl1-container .page4 .ani-right-top {
  position: absolute;
  right: 0;
  top: 0;
}

.swiper-container.tpl1-container .page4.swiper-slide-active .text {
  animation: fadeInDown 3s 1s both;
}

.swiper-container.tpl1-container .page4.swiper-slide-active .ani-left {
  animation: fadeInLeft 2s 2s both;
}

.swiper-container.tpl1-container .page4.swiper-slide-active .ani-right-top {
  animation: fadeInDown 2s 2s both;
}

.swiper-container.tpl1-container .page5 {
  position: relative;
}

.swiper-container.tpl1-container .page5 .text {
  position: absolute;
  bottom: 145px;
  left: 35px;
}

.swiper-container.tpl1-container .page5 .img-top {
  position: relative;
  height: 625px;
}

.swiper-container.tpl1-container .page .backgroundFFF {
  background-color: #fff;
}

.swiper-container.tpl1-container .page5 .img-bottom {
  position: absolute;
  right: 10%;
  padding: 15px;
  width: 300px;
  height: 300px;
  border: 15px solid #fff;
  box-sizing: border-box;
  transform: rotate(25deg);
}

.swiper-container.tpl1-container .page5 .ani-right-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
}

.swiper-container.tpl1-container .page5.swiper-slide-active .text {
  animation: fadeInUp 3s 1s both;
}

.swiper-container.tpl1-container .page5.swiper-slide-active .ani-right-bottom {
  animation: fadeInUp 2s 2s both;
}

.swiper-container.tpl1-container .page6 {
  position: relative;
  overflow: hidden;
}

.swiper-container.tpl1-container .page6 .text {
  position: absolute;
  top: 90px;
  left: 70px;
}

.swiper-container.tpl1-container .page6 .img-wrapper {
  background: transparent;
}

.swiper-container.tpl1-container .page6 .img-top {
  position: relative;
  width: 355px;
  height: 255px;
  top: 200px;
  left: 210px;
}

.swiper-container.tpl1-container .page6 .img-top .img-bg {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 100%;
}

.swiper-container.tpl1-container .page6 .img-top .img-bg,
.swiper-container.tpl1-container .page6 .img-top .upload-mask {
  clip-path: polygon(7% 0%, 100% 0%, 100% 90%, 92% 100%, 0% 100%, 0% 8%);
}

.swiper-container.tpl1-container .page6 .img-top img {
  position: absolute;
  top: -10px;
  left: -10px;
  clip-path: polygon(7% 0%, 100% 0%, 100% 90%, 92% 100%, 0% 100%, 0% 8%);
}

.swiper-container.tpl1-container .page6 .img-bottom {
  position: absolute;
  width: 500px;
  height: 360px;
  top: 495px;
  left: 60px;
}

.swiper-container.tpl1-container .page6 .img-bottom .img-bg {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 93% 0%, 100% 8%, 100% 100%, 8% 100%, 0% 92%);
}

.swiper-container.tpl1-container .page6 .img-bottom img {
  position: absolute;
  top: -10px;
  left: 10px;
  clip-path: polygon(0% 0%, 93% 0%, 100% 8%, 100% 100%, 8% 100%, 0% 92%);
}

.swiper-container.tpl1-container .page6 .ani-right-top {
  position: absolute;
  right: 0;
  top: 0;
}

.swiper-container.tpl1-container .page6 .ani-bottom {
  position: absolute;
  bottom: 0;
}

.swiper-container.tpl1-container .page6.swiper-slide-active .text {
  animation: fadeInDown 3s 1s both;
}

.swiper-container.tpl1-container .page6.swiper-slide-active .ani-right-top {
  animation: fadeInRight 2s 2s both;
}

.swiper-container.tpl1-container .page6.swiper-slide-active .ani-bottom {
  animation: fadeInUp 2s 2s both;
}

.swiper-container.tpl2-container .swiper-slide img {
  opacity: 0;
}

.swiper-container.tpl2-container .swiper-slide-active img {
  opacity: 1;
}

.swiper-container.tpl2-container .tpl2-page {
  background: url("../img/tpl2-1.jpg") no-repeat center;
  background-size: cover;
}

.swiper-container.tpl2-container .page1 .main {
  height: 100%;
}

.swiper-container.tpl2-container .page1 .main .title {
  top: 12.2em;
}

.swiper-container.tpl2-container .page1 .main .title .title-en {
  margin-bottom: 1em;
}

.swiper-container.tpl2-container .page1 .main .info {
  margin-top: 100%;
}

.swiper-container.tpl2-container .page2,
.swiper-container.tpl2-container .page3 {
  position: relative;
}

.swiper-container.tpl2-container .page2 .text-wrapper,
.swiper-container.tpl2-container .page3 .text-wrapper {
  position: absolute;
  bottom: 200px;
  width: 100%;
}

.swiper-container.tpl2-container .page2 .text-wrapper .text,
.swiper-container.tpl2-container .page3 .text-wrapper .text {
  width: 250px;
  margin: auto;
}

.swiper-container.tpl2-container .page2 .content,
.swiper-container.tpl2-container .page3 .content {
  margin-top: 105px;
  height: 600px;
  position: relative;
}

.swiper-container.tpl2-container .page2 .content img,
.swiper-container.tpl2-container .page3 .content img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.swiper-container.tpl2-container .page2 .content .upload-mask,
.swiper-container.tpl2-container .page3 .content .upload-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.swiper-container.tpl2-container .page2 {
  background: url("../img/tpl2-bg-2.jpg") no-repeat center;
}

.swiper-container.tpl2-container .page2,
.swiper-container.tpl2-container .page3 {
  background-color: #e7f2f7;
  background-size: 640px 100%;
}

.swiper-container.tpl2-container .page5 {
  background: #fff;
}

.swiper-container.tpl2-container .page4 {
  background: url("../img/tpl2-photo-wrapper-4.png") no-repeat center;
  background-size: cover;
  position: relative;
}

.swiper-container.tpl2-container .page4 .text {
  position: absolute;
  top: 145px;
  left: 45px;
  z-index: 2;
}

.swiper-container.tpl2-container .page4 .content {
  position: relative;
}

.swiper-container.tpl2-container .page4 .content .img-left,
.swiper-container.tpl2-container .page4 .content .img-right {
  position: absolute;
}

.swiper-container.tpl2-container .page4 .content .img-left img,
.swiper-container.tpl2-container .page4 .content .img-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-container.tpl2-container .page4 .content .img-left .upload-mask,
.swiper-container.tpl2-container .page4 .content .img-right .upload-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.swiper-container.tpl2-container .page4 .content .img-left {
  top: 240px;
  left: 40px;
  width: 370px;
  height: 635px;
}

.swiper-container.tpl2-container .page4 .content .img-right {
  top: 120px;
  left: 345px;
  width: 260px;
  height: 200px;
}

.swiper-container.tpl2-container .page4 .content .photo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.swiper-container.tpl2-container .page5 {
  background: url("../img/tpl2-photo-wrapper-5.png") no-repeat center;
  background-size: cover;
  position: relative;
}

.swiper-container.tpl2-container .page5 .text-wrapper {
  position: absolute;
  bottom: 100px;
  width: 100%;
  z-index: 1;
}

.swiper-container.tpl2-container .page5 .text-wrapper .text {
  width: 350px;
  margin: auto;
}

.swiper-container.tpl2-container .page5 .content {
  position: relative;
}

.swiper-container.tpl2-container .page5 .content .img-left,
.swiper-container.tpl2-container .page5 .content .img-right {
  position: absolute;
}

.swiper-container.tpl2-container .page5 .content .img-left img,
.swiper-container.tpl2-container .page5 .content .img-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-container.tpl2-container .page5 .content .img-left .upload-mask,
.swiper-container.tpl2-container .page5 .content .img-right .upload-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.swiper-container.tpl2-container .page5 .content .img-left {
  top: 165px;
  left: 25px;
  width: 280px;
  height: 520px;
}

.swiper-container.tpl2-container .page5 .content .img-right {
  top: 175px;
  left: 340px;
  width: 280px;
  height: 520px;
}

.swiper-container.tpl2-container .page5 .content .photo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.swiper-container.tpl2-container .page6 {
  background: url("../img/tpl2-bg-6.jpg") no-repeat center;
  background-size: cover;
  position: relative;
}

.swiper-container.tpl2-container .page6 .text-wrapper {
  position: absolute;
  bottom: 100px;
  width: 100%;
}

.swiper-container.tpl2-container .page6 .text-wrapper .text {
  width: 230px;
  margin: auto;
}

.swiper-container.tpl2-container .page6 .content {
  height: 725px;
  position: relative;
}

.swiper-container.tpl2-container .page6 .content img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.swiper-container.tpl2-container .page6 .content .upload-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.swiper-container.tpl2-container .page7 {
  background: url("../img/tpl2-bg-7.jpg") no-repeat center;
  background-size: cover;
}

.modal {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 19;
  display: none;
}

.modal.active {
  display: flex;
}

.modal .btn-groups {
  position: absolute;
  bottom: 155px;
}

.modal .modal-confirm {
  background: #fff;
  width: 580px;
  height: 230px;
  position: relative;
  margin: 50% auto;
  overflow: auto;
}

.modal .modal-confirm .btn-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
}

.modal .modal-confirm .confirm-title {
  font-size: 36px;
  text-align: center;
  margin-top: 60px;
}

.modal .modal-confirm .confirm-btns {
  margin: 30px auto 0;
  width: 60%;
  display: flex;
}

.modal .modal-confirm .confirm-btns .btn {
  display: block;
  margin: auto;
  width: 150px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 25px;
  background: #fff;
  color: #e7abbd;
  border: 2px solid;
  border-radius: 10px;
}

.modal .modal-confirm .confirm-btns .confirm-btn {
  color: #fff;
  background: #e7abbd;
}

.modal-form {
  position: absolute;
  z-index: 20;
  margin: auto;
  top: 220px;
  left: 0;
  right: 0;
  width: 440px;
  height: 500px;
  display: none;
}

.modal-form.active {
  display: block;
}

.modal-form .input-wrapper {
  font-size: 25px;
  color: #3c393a;
  width: 100%;
  margin-bottom: 45px;
}

.modal-form .input-wrapper .label {
  margin-bottom: 12px;
  display: block;
  color: #fff;
}

.modal-form .input-wrapper input {
  display: block;
  width: 100%;
  height: 55px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 25px;
  text-indent: 0.5em;
}

.modal-form .input-wrapper .attend-wrapper {
  background: #fff;
  border-radius: 10px;
  display: flex;
  height: 55px;
  justify-content: space-around;
  align-items: center;
}

.modal-form .input-wrapper .attend-wrapper label input {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #9fa0a0;
  display: inline-block;
  margin-right: 10px;
}

.modal-form .input-wrapper .attend-wrapper label input:checked {
  background: #e7abbd;
}

.modal-form .input-wrapper .count-wrapper {
  display: flex;
  justify-content: center;
  height: 55px;
}

.modal-form .input-wrapper .count-wrapper .btn-cnt-action,
.modal-form .input-wrapper .count-wrapper .attend-cnt {
  text-align: center;
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form .input-wrapper .count-wrapper .btn-cnt-action {
  width: 42px;
}

.modal-form .input-wrapper .count-wrapper .btn-cnt-action:first-child {
  margin-right: 10px;
}

.modal-form .input-wrapper .count-wrapper .btn-cnt-action:last-child {
  margin-left: 10px;
}

.modal-form .input-wrapper .count-wrapper .attend-cnt {
  width: 80px;
}

.modal-form .input-wrapper a {
  display: block;
  width: 90px;
  margin: auto;
  height: 55px;
  line-height: 55px;
  color: #3c393a;
  background: #fff;
  border-radius: 10px;
  text-align: center;
}

.blessing {
  /*display: none;*/
}

.blessing .blessing-wrapper {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: none;
}

.blessing .blessing-wrapper.active {
  display: block;
}

.blessing .blessing-wrapper .btn-close {
  left: 7px;
  top: -10px;
  position: absolute;
  z-index: 3;
  width: 40px;
}

.blessing .blessing-wrapper .live-blessing-wrapper {
  overflow: hidden;
  max-height: 118px;
  width: 100%;
}

.blessing .blessing-wrapper .live-blessing-wrapper .live-blessing-list {
  color: #333;
  margin: 0 6px;
  font-size: 25px;
}

.blessing .blessing-wrapper .live-blessing-wrapper .live-blessing-list li {
  height: 50px;
  margin-bottom: 10px;
}

.blessing .blessing-wrapper .live-blessing-wrapper .live-blessing-list li div {
  display: inline-block;
  max-width: 92%;
  padding: 10px;
  border-radius: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border: 2px solid #e7abbd;
}

.blessing
  .blessing-wrapper
  .live-blessing-wrapper
  .live-blessing-list
  li
  div
  span.myself {
  color: #e7abbd;
}

.blessing .blessing-wrapper .live-write {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 45px;
  margin-bottom: 20px;
  padding: 0 90px 0 6px;
}

.blessing .blessing-wrapper .live-write .nickname {
  width: 25%;
}

.blessing .blessing-wrapper .live-write .blessing-info {
  width: 71%;
}

.blessing .blessing-wrapper .live-write input {
  height: 100%;
  padding-left: 10px;
  box-sizing: border-box;
  border-radius: 14px;
  font-size: 25px;
  border: 1px solid #c9caca;
  background: #fff;
  text-indent: 0.2em;
}

.blessing .blessing-wrapper .live-write .btn-send {
  position: absolute;
  top: 0;
  right: 5px;
  display: inline-block;
  width: 80px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 25px;
  color: #4b4c4e;
  background: #fff;
  border: 1px solid;
  border-radius: 14px;
}

.blessing .send-bless {
  display: none;
  width: 80px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 25px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 3;
  background-color: #f14848;
  color: #fff;
  border-radius: 14px;
}

.blessing .send-bless.active {
  display: block;
}

.u-globalAudio {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  position: absolute;
  left: 25px;
  top: 26px;
  display: block;
  z-index: 9;
}

.u-globalAudio .icon-music {
  width: 40px;
  height: 40px;
  background: url("../img/audio.png");
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  display: block;
}

.u-globalAudio.z-play .icon-music {
  animation: reverseRotataZ 1.2s linear 99;
}

.u-globalAudio.z-pause .icon-music {
  background: url(../img/audio_pause.png);
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

@-webkit-keyframes reverseRotataZ {
  0% {
    -webkit-transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
  }
}

#date-wrapper h3 {
  background: #e7abbd !important;
  font-size: 32px !important;
  line-height: 60px !important;
}

#d-tit {
  line-height: 50px !important;
}

#d-content #d-bg {
  height: 160px !important;
}

#d-cancel,
#d-confirm {
  line-height: 50px !important;
  font-size: 32px !important;
}

#d-confirm {
  background: #e7abbd !important;
}
