<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=0"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="HandheldFriendly" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <script src="/javascripts/dpi750.js"></script>
    <link rel='stylesheet' href='/ximalaya/css/main.css'/>
    <link rel='stylesheet' href='/ximalaya/css/style.css'/>
    <script src="/invitation/js/jquery.min.js"></script>
    <script src="/invitation/js/utils.js"></script>
</head>
<body>
<!-- debug -->
<!-- 

<script src="/xmjssdk/vconsole.min.js?v=16"></script>
<script>

function clearCookie(){
    var date=new Date();
    date.setTime(date.getTime()-10000);
    var keys=document.cookie.match(/[^ =;]+(?=\=)/g);
    if (keys) {
        for (var i =  keys.length; i--;)
          document.cookie=keys[i]+"=0; expire="+date.toGMTString()+"; path=/";
    }
}

    var vConsole = new VConsole();
</script>

<div class='toolbar active'>
    <a href="http://ma.eldesign.cn/xmjssdk/demo.html">DEMO</a>
    <a href="javascript:window.location.reload();">刷新</a>
    <a href="javascript:clearCookie();window.location.href='/ximalaya/registry';">退出登录</a>
</div> -->


<script src="/xmjssdk/xmjssdk.js?v=20"></script>
<div class="toast"></div>
<style>
.toast {
    position: fixed;
    z-index: 99;
    padding: 30px 80px;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: rgba(40, 40, 40, 0.75);
    text-align: center;
    border-radius: 10px;
    color: #FFFFFF;
    min-width: 300px;
    font-size: 36px;
    display: none;
  }
</style>


