<%- include("header.ejs",{"title":'首页'}) %>
<div id="body">
    <div class='page index-page active'>
        <div class="content">
            <video controls class="video J-video">
                <source src="http://xmcdn.eldesign.cn/index-vedio.mp4" type="video/mp4">
                对不起；您的浏览器不支持HTML5视频在WebM和VP8 / VP9或MP4
            </video>
            <img src="/ximalaya/img/index-play-btn.png" class="play-btn mid">
            <img src="/ximalaya/img/index-title.png" class="title">
            <div class="game-des-box">
                <img src="/ximalaya/img/index-game-des.png" class="game-des">
            </div>
        </div>
        <img src="/ximalaya/img/index-btn.png" class="index-btn J-gotoRegistry">
        <div class="info J-gotoRule">活动详情</div>
    </div>

    <div class="rule-page">
        <div class="title">赛程安排和奖品</div>
        <div class="p-box">
            <div class="p-title ">全国总决赛 5月16日-6月1日</div>
            <img src="http://xmcdn.eldesign.cn/rule-banner.png" class="rule-banner-1 J-gotoRegistry">
            <div class="info">
                * 特等奖获奖者将从中学组中选出 <br />
                * 本次大奖的“奖学金”均以英孚课程券的形式予以发放，<br />
                &nbsp;&nbsp; 可抵用英孚常规课程
            </div>
        </div>
        <div class="p-box">
            <div class="p-title ">区域决赛 5月1日-5月15日</div>
            <img src="/ximalaya/img/rule-banner2.png" class="rule-banner-1">
        </div>
        <div class="p-box p-box-more">
            <div class="p-title ">网络初赛 1月8日-4月30日</div>
            <img src="/ximalaya/img/rule-banner3.png" class="rule-banner-3">
        </div>
        <div class="more-btn J-Pizza"> + 更多奖品</div>
    </div>

    <div class="rank-page" id="rank-page">
        <div class="title">排行榜</div>
        <div class="search-box">
            <input type="text" class="J-input" placeholder="请输入选手姓名">
        </div>
        <div class="rank-box">
            <div class="tabs">
                <div class="tab rank-tab active" data-leave="0">幼儿组</div>
                <div class="tab rank-tab" data-leave="1">小学组</div>
                <div class="tab rank-tab" data-leave="2">中学组</div>
            </div>
            <div class="list">
                <div class="J-Ranklist"></div>
                <div class="J-gotoRank more-btn">查看全部作品</div>
            </div>
            <img src="/ximalaya/img/rank-banner-1.png" class="rank-banner J-rank-banner J-gotoRegistry">
        </div>
    </div>
</div>

<script src="/xmjssdk/xmjssdk.js?v=20"></script>

<script>
    function Page() {
        this.init();
    }
    Page.prototype = {
        init: function () {
            var self=this;
            this.renderList(0);
            this.bindEvent();
            setTimeout(function(){
                self.initYa();
            },200)
        },
        initYa: function () {
            try {
                ya.ready(function () {
                    // ya.audio.pause();
                });     
            } catch (e) {
                console.log(e);
            }
        },
        bindEvent: function () {
            var self = this;
            var $body = $('#body');
            var $rank = $('.J-rank-banner');
            var bodyH = $body.height();
            $('#body').scroll(function () {
                if ($body.scrollTop() > bodyH) {
                    $rank.addClass('fixed');
                } else {
                    $rank.removeClass('fixed');
                }
            });

            $('.J-Pizza').click(function () {
                $('.p-box-more').toggleClass('active');
                $('.J-Pizza').toggleClass('active');

                if ($('.p-box-more').hasClass('active')) {
                    $('.J-Pizza').html('- 更多奖品')
                } else {
                    $('.J-Pizza').html('+ 更多奖品')
                }
            })
            $('.play-btn').click(function () {
                $('.J-video').addClass('show');
                $('.J-video')[0].play()
            })
            $('.J-video')[0].onended = function () {
                $('.J-video').removeClass('show');
            };
            $('.J-video')[0].onpause = function () {
                $('.J-video').removeClass('show');
            };

            $('.J-input').on('input', function () {
                var v = self.name = $(this).val();
                self.renderList(self.leave, v);
                console.log(v);
            })

            $('.rank-tab').click(function () {
                var leave = self.leave = $(this).data('leave');
                $(this).addClass('active').siblings().removeClass('active');
                self.renderList(leave);
            })

            $('.J-gotoRule').click(function () {
                window.location.href = '/ximalaya/ruleTxt';
            });

            $('.J-gotoRegistry').click(function () {
                var u = navigator.userAgent;
                if (u.indexOf('iting') > -1) {
                    window.location.href = '/ximalaya/registry';
                } else {
                    window.location.href = 'http://m.ximalaya.com/applink';
                }
            });

            $('.J-gotoRank').click(function () {
                window.location.href = '/ximalaya/rank'
            })

            $('#rank-page').on('click', '.J-vote', function () {
                console.log('J-vote click')
                var id = $(this).data('id');
                $.ajax({
                    type: 'post',
                    url: '/ximalaya/api/vote',
                    data: {
                        id: id,
                    },
                    success: function (data) {
                        if (data.status == '200') {
                            mPZ.toast('投票成功');
                            self.renderList(self.leave, self.name);
                        } else {
                            mPZ.toast(data.errmsg);
                        }
                    },
                    dataType: 'json'
                });
            })

            $('#rank-page').on('click', '.J-help', function () {
                var id = $(this).data('id');
                window.location.href = '/ximalaya/result?recordId=' + id;
            })
        },
        renderList: function (leave, nickName) {
            var obj = {};
            obj['leave'] = leave;

            if (nickName) {
                obj['nickName'] = nickName;
            }
            $.ajax({
                type: 'post',
                url: '/ximalaya/api/queryRecordByPage',
                data: {
                    start: 0,
                    limit: 99,
                    findJson: obj
                },
                success: function (data) {
                    if (data.status == '200') {
                        var resData = data.data.list;
                        var str = '';
                        resData.map(function (item, index) {
                            str += renderItem(item, index);
                        });
                        $('.J-Ranklist').html(str);
                    }
                },
                dataType: 'json'
            });

            function renderItem(item, index) {
                var returnStr = '<div class="item"><div class="no">' + (index + 1) + '</div>' +
                    '<img src="' + item.imgPic + '" class="nickpic">' +
                    '<div class="text-box">' +
                    '<div class="product-name">' + (item.productName || '-') + '</div>' +
                    '<div class="info">' + item.nickName + ' ' + item.voteNumber + '个赞</div>' +
                    '<div class="actions">' +
                    '<div class="help J-help" data-id="' + item._id + '">为TA拉票</div>' +
                    '<div class="vote J-vote" data-id="' + item._id + '">投票</div>' +
                    '</div></div></div>';
                return returnStr;
            }
        }
    }

    new Page();
</script>

<%- include("footer.ejs") %>