<%- include("header.ejs",{"title":'个人信息'}) %>

<div class='page registry-page active'>
    <label class='rows' style='padding-top: 30px;'>
        <div class="text">手机号</div>
        <input class="input" type="tel" name='telPhone' placeholder="">
    </label>
    <label class='rows'>
        <div class="text">验证号</div>
        <input class="input input-withBtn" type="text" name='code' placeholder="">
        <div class="qcode-btn J-sendSMS">发送验证码</div>
    </label>
    <div class="submit-btn J-login">登录</div>
    <div class="info">还未报名？<a href="/ximalaya/registry" class="sp">请报名</a></div>
</div>


<script>
    var route = window.mPZ.urlParam().route;

    function Page() {
        this.countdown = 60;
        this.timer = null;
        this.init();
    }

    Page.prototype = {
        init: function () {
            this.bindEvent();
        },
        // 绑定事件
        bindEvent: function () {
            var self = this;
            // 获取验证码
            $('.J-sendSMS').click(function () {
                var $self = $(this);
                if ($self.hasClass('disabled')) {
                    return false;
                }
                var tel = $('input[name=telPhone]').val();
                if (!tel) {
                    window.mPZ.toast('请输入手机号');
                    return false;
                }
                if (!/^1[3|4|5|7|8|9][0-9]{9}$/.test(tel)) {
                    window.mPZ.toast('请输入正确的手机号');
                    return false;
                }
                startTimer();

                $.ajax({
                    type: 'POST',
                    url: '/ximalaya/api/sendSMS',
                    data: {
                        tel: tel,
                    },
                    success: function (data) {
                        if (data.status == 200) {
                            window.mPZ.toast('短信发送成功');
                        } else {
                            window.mPZ.toast(data.data);
                        }
                    },
                    dataType: 'json'
                });
            });

            // 登录
            $('.J-login').click(function () {
                if (window.mPZ.checkForm($('.form'))) {
                    $.ajax({
                        type: 'POST',
                        url: '/ximalaya/api/login',
                        data: {
                            telPhone: $('input[name=telPhone]').val(),
                            code: $('input[name=code]').val(),
                        },
                        success: function (data) {
                            if (data.status == 200) {
                                window.location.href='/ximalaya/list';
                            } else {
                                window.mPZ.toast(data.data);
                            }
                        },
                        dataType: 'json'
                    });
                }
            });


            function startTimer() {
                var $self = $('.J-sendSMS');
                var countdown = self.countdown;

                $self.text('重新发送(' + countdown + 's)')
                $self.addClass('disabled');

                self.timer = setInterval(function () {
                    countdown -= 1;
                    $self.text('重新发送(' + countdown + 's)')
                    $self.addClass('disabled');
                    if (countdown <= 0) {
                        stopTimer();
                    }
                }, 1000);
            }

            function stopTimer() {
                var $self = $('.J-sendSMS');
                clearInterval(self.timer);
                $self.text('获取验证码')
                $self.removeClass('disabled');
            }
        },
    }
</script>
<script>
    new Page();
</script>


<%- include("footer.ejs") %>