<%- include("header.ejs",{"title":'排行榜'}) %>

<div class="rank-page">
    <div class="title"></div>
    <div class="search-box">
        <input type="text" class="J-input" placeholder="请输入选手姓名">
    </div>
    <div class="rank-box">
        <div class="tabs">
            <div class="tab rank-tab active" data-leave="0">幼儿组</div>
            <div class="tab rank-tab" data-leave="1">小学组</div>
            <div class="tab rank-tab" data-leave="2">中学组</div>
        </div>
        <div class="list J-Ranklist">

        </div>
        <img src="/ximalaya/img/rank-banner-1.png" class="rank-banner">
    </div>
</div>
<script>
    function Page() {
        this.init();
    }
    Page.prototype = {
        init: function () {
            this.renderList(0);
            this.bindEvent();
        },
        bindEvent: function () {
            var self = this;
            $('.J-input').on('input', function () {
                var v = self.name = $(this).val();
                self.renderList(self.leave, v);
                console.log(v);
            })

            $('.rank-tab').click(function () {
                var leave = self.leave = $(this).data('leave');
                $(this).addClass('active').siblings().removeClass('active');
                self.renderList(leave);
            })

            $('body').on('click', '.J-vote', function () {
                var id = $(this).data('id');
                $.ajax({
                    type: 'post',
                    url: '/ximalaya/api/vote',
                    data: {
                        id: id,
                    },
                    success: function (data) {
                        if (data.status == '200') {
                            mPZ.toast('投票成功');
                            self.renderList(self.leave, self.name);
                        } else {
                            mPZ.toast(data.errmsg);
                        }
                    },
                    dataType: 'json'
                });
            })

            $('body').on('click', '.J-help', function () {
                var id = $(this).data('id');
                window.location.href = '/ximalaya/share?recordId=' + id;
            })
        },
        renderList: function (leave, nickName) {
            var obj = {};
            obj['leave'] = leave;

            if (nickName) {
                obj['nickName'] = nickName;
            }
            $.ajax({
                type: 'post',
                url: '/ximalaya/api/queryRecordByPage',
                data: {
                    start: 0,
                    limit: 99,
                    findJson: obj
                },
                success: function (data) {
                    if (data.status == '200') {
                        var resData = data.data.list;
                        var str = '';
                        resData.map(function (item, index) {
                            str += renderItem(item, index);
                        });
                        $('.J-Ranklist').html(str);
                    }
                },
                dataType: 'json'
            });

            function renderItem(item, index) {
                var returnStr = '<div class="item"><div class="no">' + (index + 1) + '</div>' +
                    '<img src="' + item.imgPic + '" class="nickpic">' +
                    '<div class="text-box">' +
                    '<div class="product-name">' + (item.productName || '-') + '</div>' +
                    '<div class="info">' + item.nickName + ' ' + item.voteNumber + '个赞</div>' +
                    '<div class="actions">' +
                    '<div class="help">为TA拉票</div>' +
                    '<div class="vote J-vote" data-id="' + item._id + '">投票</div>' +
                    '</div></div></div>';
                return returnStr;
            }
        }
    }

    new Page();
</script>

<%- include("footer.ejs") %>