<!DOCTYPE html>
<html>

<head>
    <title>参赛篇目</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="HandheldFriendly" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <script src="/javascripts/dpi750.js"></script>
    <link rel='stylesheet' href='/ximalaya/css/main.css' />
    <link rel='stylesheet' href='/ximalaya/css/style.css' />
    <script src="/invitation/js/jquery.min.js"></script>
    <script src="/invitation/js/utils.js"></script>
</head>

<body>

    <div class="toast"></div>
    <style>
        .toast {
            position: fixed;
            z-index: 99;
            padding: 30px 80px;
            left: 50%;
            top: 40%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            background: rgba(40, 40, 40, 0.75);
            text-align: center;
            border-radius: 10px;
            color: #FFFFFF;
            min-width: 300px;
            font-size: 36px;
            display: none;
        }
    </style>




    <div class='page recode-page active'>
        <div class="title">
            中学组中学组中学组
        </div>
        <img src="/ximalaya/img/origin-play.png" class="J-music origin-play" />
        <div class="content">
            <p>中学组中学组中学组</p>
            <p>中学组中学组</p>
            <p>


                <style type="text/css">
                    p.p1 {
                        margin: 0.0px 0.0px 0.0px 0.0px;
                        font: 12.0px '.PingFang SC'
                    }
                </style>




            </p>
            <p>中学组中学组</p>
        </div>
        <div class="actions">
            <img src="/ximalaya/img/record-btn.png" class="action recode-action">
            <img src="/ximalaya/img/palying-btn.png" class="action playing-action">
            <img src="/ximalaya/img/replay-btn.png" class="action action-group replay-action">
            <img src="/ximalaya/img/again-record-btn.png" class="action action-group bw again-action">
            <img src="/ximalaya/img/record-submit-btn.png" class="action action-group submit-action">
        </div>
        <div class="musicUrl" data-src="http://vedio1111.oss-cn-beijing.aliyuncs.com/v2/006IWanttheBlueCar.mp3"></div>
    </div>


    <!-- debug -->
    <div class='toolbar active'>
        <a href="http://ma.eldesign.cn/xmjssdk/demo.html">DEMO</a>
        <a href="javascript:window.location.reload();">刷新</a>
    </div>
    <script src="/xmjssdk/vconsole.min.js?v=16"></script>
    <script>
        var vConsole = new VConsole();
    </script>

    <!-- 图片上传 -->
    <!-- <input type="file" id="file"> -->
    <script src="/javascripts/qiniu.min.js"></script>
    <script>
        var token;
        $.ajax({
            type: 'get',
            url: '/qiniu/api/getToken',
            success: function (data) {
                if (data.status == 200) {
                    token = data.data.uploadToken;
                    console.log(token);
                } else {
                    window.mPZ.toast(data.data);
                }
            },
            dataType: 'json'
        });
        $('#file').change(function (e) {
            var file = this.files[0]; //获取图片
            console.log(file);
            var observable = qiniu.upload(file, new Date() * 1, token, {}, {
                useCdnDomain: false,
                region: qiniu.region.z0
            })
            var subscription = observable.subscribe({
                next(res) {
                    console.log(res);
                },
                error(err) {
                    console.log(err);
                },
                complete(res) {
                    console.log(res, 'complete');
                }
            }) // 上传开始
        })
    </script>

    <!-- xmly  SDK -->
    <script src="/xmjssdk/xmjssdk.js?v=20"></script>
    <script>
        function tips(msg) {
            console.log(msg);
        }

        function Page() {
            this.init();
            this.initMusic();
            this.bindEvent();
        }
        Page.prototype = {
            init: function () {
                var self = this;
                self.initYa(function () {
                    self.YaBindEvent();
                });
                // 录音状态控制
                self.recordStatusCode = {
                    READY: 'READY', // 准备
                    RECORDING: 'RECORDING', // 录音中
                    PAUSED: 'PAUSED', // 暂停录音
                    STOP: 'STOP', // 停止录音
                    PLAYING: 'PLAYING', // 播放
                    PLAYPAUSED: 'PLAYPAUSED', // 暂停播放
                    PALYSTOP: 'PALYSTOP', // 播放停止
                    ERROR: 'ERROR' // 错误
                };
                self.recordStatusChange(self.recordStatusCode.READY);

            },
            bindEvent: function () {
                var self = this;
                $('.J-music').click(function (e) {
                    if ($(this).hasClass('play')) {
                        self.stopMusic();
                    } else {
                        self.playMusic();
                    }
                })
            },
            initMusic: function () {
                var audioElement = this.audioElement = document.createElement('audio');
                audioElement.controls = true;
                audioElement.loop = false;
                audioElement.autoplay = false;
                audioElement.onended = function () {
                    $('.J-music').removeClass('play');
                };

                var src = $('.musicUrl').data('src');
                audioElement.setAttribute('src', src);
                audioElement.load();
                this.audioElement.play();
                this.audioElement.pause();
            },
            playMusic: function () {
                this.audioElement.play();
                $('.J-music').addClass('play');
            },
            stopMusic: function () {
                this.audioElement.pause();
                $('.J-music').removeClass('play');
            },
            YaBindEvent: function () {
                var self = this;
                $('.recode-action').click(function () {
                    self.recordStatusChange(self.recordStatusCode.RECORDING);
                });
                $('.playing-action').click(function () {
                    self.recordStatusChange(self.recordStatusCode.STOP);
                });
                $('.replay-action').click(function () {
                    console.log(self.recordStatus, 'replay-action');
                    if (self.recordStatus == self.recordStatusCode.PLAYING) {
                        self.recordStatusChange(self.recordStatusCode.PALYSTOP);
                    } else {
                        self.recordStatusChange(self.recordStatusCode.PLAYING);
                    }
                })
                $('.again-action').click(function () {
                    self.recordStatusChange(self.recordStatusCode.READY);
                })

                $('.submit-action').click(function () {
                    ya.recorder.uploadVoice(self.localId, function (res) {
                        var obj = JSON.parse(res);
                        // 客户端上传
                        if (obj.ret == 0) {
                            var url = obj.data.url;
                            // 服务器处理
                            $.ajax({
                                type: 'post',
                                url: '/ximalaya/api/saveAudio',
                                data: {
                                    url: url,
                                },
                                success: function (data) {
                                    // todo 
                                    if (data.status == 200) {

                                    } else {
                                        console.log(data);
                                    }
                                },
                                dataType: 'json'
                            });
                            console.log('成功', obj.data.url);
                        } else {
                            ya.toast('音频上传失败' + JSON.stringify(obj));
                            console.log('失败：', obj);
                        }
                    });
                })
            },
            initYa: function (cb) {
                var self = this;
                ya.ready(function () {
                    cb && cb();
                    self.recordCallbacks();
                });
            },
            recordStatusChange: function (recordStatus) {
                var self = this;
                var recordStatusCode = self.recordStatusCode;
                switch (recordStatus) {
                    case recordStatusCode.READY:
                        $('.recode-action').show().siblings().hide();
                        self.recordStatus = recordStatus;
                        break;
                    case recordStatusCode.RECORDING:
                        self.stopMusic();
                        ya.recorder.startRecord(function () {
                            ya.toast('开始录音：');
                            $('.playing-action').show().siblings().hide();
                            self.recordStatus = recordStatus;
                        });
                        break;
                    case recordStatusCode.PLAYING:
                        if (!self.localId) {
                            ya.toast('请先录制一段音频！');
                            return false;
                        }
                        ya.recorder.playVoice(self.localId, function (localId) {
                            self.recordStatus = recordStatus;
                            console.log(self.recordStatus);
                            $('.replay-action').attr('src', '/ximalaya/img/replay-btn-2.png');
                        });
                        break;
                    case recordStatusCode.PALYSTOP:
                        ya.recorder.stopVoice(self.localId, function (localId) {
                            self.recordStatus = recordStatus;
                        });
                        break;
                    case recordStatusCode.STOP:
                        ya.recorder.stopRecord(function (localId) {
                            self.recordStatus = recordStatus;
                            self.localId = localId;
                            $('.action').hide();
                            $('.action-group').show();
                        });
                        break;
                }
            },
            recordCallbacks: function () {
                var self = this;
                ya.recorder.bind({
                    onAudioStatusChange: function (obj) {
                        tips('音频状态改变' + JSON.stringify(obj));
                    },
                    onRecordStart: function (milliseconds) {
                        tips('录音开始:' + milliseconds);
                    },
                    onRecording: function (milliseconds) {
                        // 避免用toast，会产生toast延迟
                        // ya.toast();
                        tips('录音中:' + milliseconds);
                    },
                    onRecordPause: function (milliseconds) {
                        tips('录音暂停:' + milliseconds);
                    },
                    onRecordResume: function (milliseconds) {
                        tips('录音恢复:' + milliseconds);
                    },
                    onRecordEnd: function (obj) {
                        $('.action').hide();
                        $('.action-group').show();
                        tips('录音结束:' + JSON.stringify(obj));
                    },
                    onPlayStart: function (obj) {
                        tips('播放开始:' + JSON.stringify(obj));
                    },
                    onPlaying: function (obj) {
                        // 避免用toast，会产生toast延迟
                        tips('播放中:' + JSON.stringify(obj));
                    },
                    onPlayPause: function (obj) {
                        tips('暂停:' + JSON.stringify(obj));
                    },
                    onPlayResume: function (obj) {
                        tips('恢复播放:' + JSON.stringify(obj));
                    },
                    onPlayEnd: function (obj) {
                        $('.replay-action').attr('src', '/ximalaya/img/replay-btn.png');
                        tips('播放结束:' + JSON.stringify(obj));
                    }
                });
            }
        }

        new Page();
    </script>


    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        function initWXSahre() {

            //“分享给朋友”
            wx.onMenuShareAppMessage({
                title: '一分钟灵魂拷问……', // 分享标题
                desc: '敢不敢来测一测？', // 分享描述
                link: '', // 分享链接
                imgUrl: 'http://ma.eldesign.cn/StressTest/img/logo.jpg', // 分享图标
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    // 用户确认分享后执行的回调函数
                    _hmt.push(['_trackEvent', '分享', '分享给朋友']);

                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });

            //“分享到朋友圈”
            wx.onMenuShareTimeline({
                title: '一分钟灵魂拷问……', // 分享标题
                desc: '敢不敢来测一测？', // 分享描述
                link: '', // 分享链接
                imgUrl: 'http://ma.eldesign.cn/StressTest/img/logo.jpg', // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                    _hmt.push(['_trackEvent', '分享', '分享朋友圈']);
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        }

        function initWX(callback) {

            $.ajax({
                type: 'GET',
                url: '/api/getWxSDK',
                data: {
                    'originalUrl': window.location.href
                },
                success: function (data) {
                    var wxConfig = data.data.wxConfig;

                    console.log(wxConfig);

                    wx.config({
                        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                        appId: wxConfig.appId, // 必填，公众号的唯一标识
                        timestamp: wxConfig.timestamp, // 必填，生成签名的时间戳
                        nonceStr: wxConfig.nonceStr, // 必填，生成签名的随机串
                        signature: wxConfig.signature, // 必填，签名，见附录1
                        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                    });

                    wx.ready(function () {
                        callback && callback();
                    });

                    wx.error(function (res) {
                        console.log(res);
                    });


                },
                dataType: 'json'
            });
        }

        initWX(initWXSahre);
    </script>


</body>

</html>