<%- include("header.ejs",{"title":'提交完成'}) %>

<div class='page result-page active'>
    <div class="info">作品已递交成功，分享海报为自己拉票吧</div>
    <div class="banner-box">
        <div class="personal">
            <img src="/ximalaya/img/nickpic.png" class="nickpic">
            <div class="text">
                <div class="name">姓名</div>
                <div class="des">长按识别二维码投票</div>
            </div>
            <img src="/ximalaya/img/qcode.png" class="qcode">
        </div>
    </div>
</div>

<script src="/javascripts/jquery.js"></script>

<%- include("footer.ejs") %>