<%- include("header.ejs",{"title":'老师上传页面'}) %>

<div class='page ruletxt-page active'>
    <div class='content'>
        <div class="h2">2019英孚全球英语挑战赛</div>
        <br />
        第五季-英孚全球英语挑战赛“用英文讲中国故事，学做跨文化小使者”正式拉开帷幕！全新主题: 3-6 三字经/古诗；7-12 成语故事；13-18
        传统文化故事，打开文化传播使者的大门，快来赢取英孚暑期丝绸之路文化酷旅，感受跨越千年的历史文化积淀，赶快报名参与吧！
        <br /><br />
        <div class="red">
            一．赛程安排<br />
            1月7日-4月30日 网络初赛（线上比赛）<br />
            5月1日-5月19日 区域决赛（线下比赛）<br />
            5月20日-5月31日 全国总决赛（线上比赛）<br />
            6月1日 全国总决赛比赛结果揭晓<br />
        </div>

        <br /><br />
        <div class="red">
            二．参赛简介<br />
            【网络初赛】<br />
            时间：2019.1.7-2019.4.30<br />
        </div>
        参赛方式：<br />
        进入赛事页面后击“我要参加”按钮进入报名页，填写和提交报名信息后，选择对应的年龄组别，从主办方指定的材料中，任选一段朗读并提交音频，即视为成功参赛<br />
        参赛作品要求：<br />
        1.作品时长：1分钟内音频形式<br />
        2.作品音质良好，禁止空录、转录<br />
        3.作品须由选手本人亲自录制<br />
        4.选手须根据自己的真实年龄选择对应组别<br />
        5.选手仅可选择一个赛区提交作品，不可同时在两个年龄组别提交作品<br />
        6.如有违反以上规则，主办方有权取消作品参赛资格并下架作品<br />
        评选标准：大赛评委将从发音、语音语调、情感演绎、表达流畅等方面对初赛作品进行评选.<br />
        <br />
        <div class="red">
            【区域复赛/全国决赛】<br />
            时间：2019.5.1-2019.6.1<br />
        </div>
        参赛方式：英孚青少儿英语所在城市将举行城市级线下区域决赛<br />
        比赛内容：选手可基于大赛主题“用英文讲中国故事，学做跨文化小使者”，自行选择或创作与中华传统文化相关内容作为比赛篇目<br />
        评选标准：大赛评委将从表达方式、整体表现、台风展示、主题创新等方面，对选手表现进行打分，现场评选出一二三等奖人选<br />
        评选结果：全国各城市赛区一等奖人选于活动现场即时公布并晋级最终全国决赛<br />
        <br />
        三．奖项设置<br />
        【网络初赛】<br />
        参赛证书：报名成功后，您的参赛作品将展示在初赛现场，您可以至就近的英孚青少儿学校领取您的参赛荣誉证书；<br />
        【区域复赛】<br />
        一等奖：晋级全国总决赛（全国87名）<br />
        二等奖：2000元英孚奖学金（全国105名）<br />
        三等奖：1000元英孚奖学金（全国159名）<br />
        【全国总决赛】<br />
        “特等奖”：英孚暑期丝绸之路文化酷旅，感受跨越千年的历史文化积淀（1名）<br />
        一等奖：5000元英孚奖学金（5名）<br />
        二等奖：4000元英孚奖学金（24名）<br />
        三等奖：3000元英孚奖学金（57名）<br />
        *特等奖获得者年龄须在8岁以上<br />
        *本次大奖的“奖学金”均以英孚课程劵的形式予以发放，可抵用英孚常规课程<br />
        【周周人气奖】<br />
        每周获赞数量排名前10的作品可获得英孚限量款大眼萌杯奖品<br />
        （每周日24:00后排名数据将清零重计）<br />
        作品点赞：选手提交音频后可通过多种渠道为自己拉票点赞，投票点赞截止时间为2019年4月29日 24:00<br />
        获奖结果：每周TOP10获奖名单会在于微信公众号“EF英孚青少儿英语”公布/获奖选手将收到小程序内消息推送<br />
        <br />
        【全勤打卡奖】<br />
        1.每个组别各有10篇候选篇目，如参赛选手在1/7-4/30海选期间，连续10天登录并完成所在组别的全部10篇作品提交的，可获得英孚限量精美文具<br />
        2.获奖结果：每月获奖名单会在微信公众号 “EF英孚青少儿英语” 公布/获奖选手将收到小程序内消息推送<br />
        <br />
        <div class="red"> 投票规则：</div>
        1.每个账号每天可为同一作品投一票<br />
        2.如参同一位赛者录制提交多个作品，则默认获赞数量最高的那则作品进入排名统计<br />
        <br />
        本大赛最终解释权归主办方英孚青少儿英语所有
    </div>
</div>

<script src="/javascripts/jquery.js"></script>

<%- include("footer.ejs") %>