<%- include("header.ejs",{"title":'老师上传页面'}) %>

<div class='page ruletxt-page active'>
    <div class='content'>
        活动规则
        <br />
        本届英孚全球英语挑战赛是由英孚青少儿英语主办
        <br />
        【参与奖】
        <br />
        报名成功后，您的参赛作品将展示在初赛现场，您可以至就近的英孚青少儿学校领取您的参赛荣誉证书，学校将会组织校级复赛开展进一轮选拔；
        <br />
        【区域决赛5月1日-5月15日】
        <br />
        一等奖：晋级全国总决赛
        <br />
        二等奖：2000元英孚奖学金
        <br />
        三等奖：1000元英孚奖学金
        <br />
        【全国总决赛5月1日-5月15日】
        <br />
        “特等奖”：英孚暑期丝绸之路文化酷旅，感受跨越千年的历史文化积淀（1名）
        <br />
        一等奖：5000元英孚奖学金（6名）
        <br />
        二等奖：4000元英孚奖学金（24名）
        <br />
        三等奖：3000元英孚奖学金（56名）<br />
        *特等奖获得者年龄须在8岁以上
        <br />
        *本次大奖的“奖学金”均以英孚课程劵的形式予以发放，可抵用英孚常规课程
        <br />
        大赛评选机制
        <br />
        【海选赛】
        <br />
        时间：2019.1.7-2019.4.30
        <br />
        参赛方式：点击“我要参加”按钮进入报名页，填写和提交报名信息后，选择对应的年龄组别，从主办方指定的材料中，任选一段朗读并提交音频，即视为成功参赛
        <br />
        评选方式：选手提交音频后可通过多种渠道为自己拉票，投票截止时间为4月29日 24:00，停止投票后各组别票数最高10件作品的参赛者即获得入围区域决赛资格
        <br />
        评选结果：投票结束后，选手可自行点击进入排行榜看TOP 10选手名单；同时，该名单也会于微信公众号“EF英孚青少儿英语”公布
        <br /><br />

        投票规则
        <br />
        1.用户登录赛事页面后可进行投票
        <br />
        2.每个账号每天可为每个作品投一票
        <br /><br />

        【区域/全国决赛】
        <br />
        时间：2018.5.1 开始
        <br />
        比赛形式：英孚青少儿英语所在城市将举行城市级下线区域决赛
        <br />
        评选标准：专业评委将从表达方式、整体表现、台风展示、主题切合等方面，对选手表现进行打分，评选出一二三等奖人选
        <br />
        评选结果：一二三等奖人选于活动现场即时公布并晋级最终全国决赛
        <br />
        参赛要求
        <br />
        1.作品音质良好，禁止空录、转录
        <br />
        2.作品须由选手本人亲自录制
        <br />
        3.选手须根据自己的真实年龄选择对应组别
        <br />
        4.选手仅可选择一个赛区提交作品，不可同时在两个赛区提交作品
        <br />
        5.如有违反以上规则，主办方有权取消作品参赛资格并下架作品
        <br /><br />
        注意事项
        <br />
        【区域决赛选手联系】
        <br />
        1.主办方会于4月30日与入围选手依次取得联系，沟通决赛细节，请选手当天务必关注自己的手机，如截止当天24:00人无法联络选手，则视为自动放弃入围及领奖资格
        <br />
        2.出于比赛宣传需求，入围选手默认自动授权肖像权、姓名权给主办方，主办方承诺不用于赛事以外的其他用途。如选手不同意本条规则，则视为自动放弃入围及领奖资格 <br />
        <br />
        【决赛评选细则】
        <br />
        详细评选细则（包括具体环节、诵读材料、评选标准、评委名单等）将于决赛前在微信公众号“EF英孚青少儿英语”公布，请选手务必关注
        <br />
        【联系客服】
        <br />有任何疑问，请添加喜马外语微信小助手（微信号:XXX）并留言，每日10:00-18:00答疑
        <br /><br />
        本大赛最终解释权归主办方英孚青少儿英语所有</div>
</div>

<script src="/javascripts/jquery.js"></script>

<%- include("footer.ejs") %>