<%- include("header.ejs",{"title":'提交完成'}) %>

<div class='page share-page active'>
    <img src="/ximalaya/img/nickpic.png" class="nickpic">
    <img src="/ximalaya/img/share-play-icon.png" class="share-play">
    <div class="title">作品标题</div>
    <div class="text">姓名</div>
    <div class="text">年龄组</div>
    <img src="/ximalaya/img/share-vote-btn.png" class="vote-btn">
    <img src="/ximalaya/img/music-icon.png" class="music-icon">
    <div class="info">已有XXXXXX人参与了本次活动， <br />赶快加入用英语讲中国故事，学做块文化小使者</div>
</div>

<script src="/javascripts/jquery.js"></script>

<%- include("footer.ejs") %>