html, body {
    height: 100%;
    width: 100%;
    background: #ffffff;
    position: relative;
    overflow: auto;
}

body.ipad {
    height: auto;
    min-height: 100%;
    overflow: auto;
    padding-bottom: 80px;
}

.ipad .page {
    height: auto;
}

select {
    /*很关键：将默认的select选择框样式清除*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/*::-webkit-input-placeholder {*/
/*color: black;*/
/*}*/

/*::-moz-placeholder {*/
/*color: black;*/
/*}*/

.mid {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.page {
    display: none;
    height: 100%;
    width: 100%;
}

.f-hide {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

.page.active {
    display: block;
}

.index-page {
    background: url("../img/index-bg.jpg") no-repeat top;
    background-size: 100%;
    padding-top: 80px;
    box-sizing: border-box;
}

.result-page {
    background: url("../img/result-bg.jpg") no-repeat top;
    background-size: 100%;
    padding-top: 55px;
    overflow: auto;
}

.index-page .date-box {
    background: url("../img/date-box-bg.png") no-repeat;
    width: 222px;
    height: 61px;
    line-height: 61px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
}

.index-page .index-words-en {
    color: #333;
    font-weight: bold;
    line-height: 1.7;
    font-size: 24px;
    padding-bottom: 20px;
}

.index-page .index-main {
    position: relative;
    width: 584px;
    margin: auto;
    /*padding-top: 30px;*/
}

.index-page .index-words-cn {
    color: #585858;
    line-height: 1.8;
    font-size: 24px;
    padding-bottom: 20px;
}

.index-page .date-box-icon {
    background: url("../img/date-box-icon-bg.png") no-repeat;
    display: inline-block;
    width: 31px;
    height: 31px;
    vertical-align: text-bottom;
    font-size: 18px;
    line-height: 42px;
    margin-right: 10px;
    color: #ffffff;
}

.index-page .date-box-text {
    font-size: 26px;
    color: #ffffff;
    display: inline-block;
}

.index-page .index-words {
    width: 584px;
    margin: auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    box-sizing: border-box;
    position: relative;
}

.index-page .index-title {
    color: #e9329c;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.index-page .index-main-box {
    padding-top: 24px;
}

.index-page .reading-cover {
    width: 233px;
    height: 312px;
    background-color: rgb(191, 191, 191);
    display: inline-block;
}

.index-page .reading-info {
    color: #333333;
    line-height: 1.6;
    font-size: 23px;
    width: 310px;
    float: right;
}

.index-page .reading-info .des {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    min-height: 90px;
    margin-bottom: 12px;
}

.index-page .day-box {
    font-size: 18px;
    color: #333333;
    position: absolute;
    top: -15px;
    left: 6px;
}

.index-page .day-box .days {
    font-size: 60px;
    display: block;
    color: #e9329c;
    line-height: 0.8;
}

.index-page .banner {
    position: absolute;
    bottom: 80px;
}

.index-page .start-btn {
    width: 276px;
    height: 64px;
    line-height: 64px;
    background: rgb(233, 50, 156);
    color: #ffffff;
    text-align: center;
    font-size: 26px;
    border-radius: 40px;
}

.menu-bar {
    height: 80px;
    line-height: 80px;
    background: #edf0f2;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 10;
    padding: 0 30px;
    box-sizing: border-box;
}

.menu-icon {
    width: 33%;
    height: 100%;
    float: left;
}

.index-icon {
    background: url("../img/icon/index-icon.png") center center no-repeat;
}

.index-icon.active {
    background: url("../img/icon/index-icon-active.png") center center no-repeat;
}

.plan-icon {
    background: url("../img/icon/plan-icon.png") center center no-repeat;
}

.plan-icon.active {
    background: url("../img/icon/plan-icon-active.png") center center no-repeat;
}

.personal-icon {
    background: url("../img/icon/personal-icon.png") center center no-repeat;
}

.personal-icon.active {
    background: url("../img/icon/personal-icon-active.png") center center no-repeat;
}

.personal-title {
    font-size: 26px;
    color: #333333;
}

.personal-list {
    color: #333333;
    font-size: 24px;
    padding-left: 25px;
    width: 256px;
    display: inline-block;
}

.personal-list li {
    padding-top: 25px;
}

.personal-list li .number {
    color: #e9329c;
    float: right;
}

.personal-logo {
    float: right;
    margin-top: 20px;
    width: 162px;
    height: 162px;
    border-radius: 50%;
}

.personal-main {
    padding: 30px;
    box-sizing: border-box;
    color: #333333;
    position: relative;
}

.personal-time {
    color: #e9329c;
    font-size: 72px;
    font-weight: bold;
    line-height: 1.12;
}

.personal-main .time-info {
    font-size: 22px;
}

.personal-main .time-setting {
    color: #00a7fe;
    font-size: 24px;
    position: absolute;
    right: 30px;
    top: 85px;
    border-bottom: 2px solid #00a7fe;
}

.personal-hr {
    margin-top: 30px;
}

.personal-question {
    color: #00a7fe;
    font-size: 24px;
    line-height: 2;
    text-decoration: underline;
    display: block;
}

.calendar-panel {
    margin: auto;
    width: 520px;
}

.index-page .day-box.day-box-plan {
    top: 15px;
    left: 50px;
}

.plan-title {
    color: #e9329c;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.plan-page {
    overflow: auto;
    padding-bottom: 120px;
    box-sizing: border-box;
}

.finish-list {
    width: 583px;
    margin: auto;
}

.finish-list .finish-item {
    float: left;
    width: 33.33%;
    padding-top: 25px;
}

.finish-list .finish-item img {
    width: 140px;
    height: 186px;
    object-fit: cover;
}

.start-banner {
    position: relative;
}

.start-banner .banner-text {
    width: 583px;
    margin: auto;
    color: #e9329c;
    font-size: 24px;
    margin-top: -80px;
}

.start-banner .banner-text span {
    font-size: 48px;
    display: block;
    font-weight: bold;
    line-height: 0.8;
}

.start-banner .banner-number {
    display: inline-block;
}

.start-banner .banner-hr {
    display: inline-block;
    height: 65px;
    width: 2px;
    background: #e9329c;
    margin-left: 10px;
}

.start-banner .banner-title {
    display: inline-block;
    font-size: 26px;
    vertical-align: text-bottom;
    line-height: 40px;
    font-weight: bold;
}

.start-banner .banner-info {
    font-size: 24px;
    font-weight: normal;
}

.logo {
    position: absolute;
    top: 15px;
    left: 30px;
}

.allInList, .startInfoList {
    width: 583px;
    margin: auto;
    padding: 30px 0;
}

.allInList {
    border-bottom: 2px solid #bfbfbf;
}

.allInList-title, .startInfoList-title {
    font-size: 26px;
    color: #585858;
}

.allInList-main {
    padding-top: 18px;
    text-align: left;
}

.allInList-item {
    float: left;
    margin-right: 9px;
    margin-top: 7px;
    width: 45px;
    height: 45px;
}

.startInfoList-text {
    color: #585858;
    font-size: 24px;
    margin-top: 10px;
}

.startInfoList-text div {
    padding-top: 8px;
}

.startInfoList-text a {
    color: #00a7fe;
    padding-top: 8px;
    display: block;
}

.join-btn {
    width: 582px;
    height: 69px;
    line-height: 69px;
    background-color: rgb(233, 50, 156);
    margin: 35px auto 0;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    border-radius: 40px;
}

.start-detail-banner {
    padding: 20px 0;
    background: #333333;
}

.start-detail-banner div.banner-text {
    margin-top: 0;
    color: #ffffff;
}

.start-detail-banner div.banner-hr {
    background: #ffffff;
}

.rule-list {
    width: 583px;
    margin: auto;
    padding: 30px 0;
    color: #585858;
    font-size: 24px;
}

.rule-list .rule-list-title {
    font-weight: bold;
}

.reading-page {
    /*background: #f5f8fa;*/
    overflow: hidden;
    padding-bottom: 180px;
    box-sizing: border-box;
}

.reading-page .banner {
    position: absolute;
    bottom: 80px;
}

.reading-page .reading-title {
    width: 583px;
    font-size: 26px;
    color: #333333;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;

    text-align: center;
}

.reading-page .reading-main {
    width: 583px;
    color: #333333;
    font-size: 24px;
    background: #ffffff;
    margin: auto;
    padding: 25px;
    box-sizing: border-box;
    height: 400px;
    overflow: auto;
}

.record-btn-list {
    width: 583px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
}

.reading-page .btn-item {
    color: #333333;
    font-size: 24px;
    text-align: center;
    display: inline-block;
    padding: 15px;
    display: none;
}

.reading-page .record-status {
    padding-top: 10px;
}

.reading-page .record-btn-list .record-btn {
    display: block;
}

.reading-page .record-btn-list.active .record-btn {
    display: none;
}

.reading-page .record-btn-list.active .btn-item2 {
    display: inline-block;
}

.switch-btn {
    background: url("../img/off-btn.png") no-repeat;
    width: 131px;
    height: 38px;
    margin-top: 30px;
}

.switch-btn.active {
    background: url("../img/on-btn.png") no-repeat;
}

.setup-title {
    margin-top: 30px;
}

.setup-time {
    margin-top: 30px;
}

.setup-select {
    display: inline-block;
    width: 110px;
    height: 50px;
    padding-left: 10px;
    box-sizing: border-box;
    color: #333333;
    font-size: 24px;
    border-radius: 5px;
    border: 1px solid rgb(210, 210, 210);
    background: none;
    background: url("../img/select-bg.png") no-repeat center right 10px;
}

.inline-block {
    display: inline-block;
    color: #333333;
    font-size: 24px;
}

.setup-time .inline-block {
    width: 20px;
    text-align: center;
}

.btn {
    width: 276px;
    height: 70px;
    line-height: 70px;
    background: rgb(233, 50, 156);
    color: #ffffff;
    text-align: center;
    font-size: 26px;
    border-radius: 40px;
}

.return-btn {
    float: left;
}

.save-btn {
    float: right;
}

.setup-btn-list {
    margin-top: 400px;
}

.cover-img {
    width: 233px;
    height: 311px;
    object-fit: cover;
}

.reading-page .reading-main p {
    color: #333333;
    font-size: 28px;
    line-height: 1.5;
}

.result-page .banner-text {
    text-align: center;
}

.result-page .banner-logo {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 25px;
}

.result-page .banner-title {
    display: inline-block;
    color: #333333;
    font-size: 30px;
    font-weight: bold;
}

.result-page .banner-info {
    font-size: 24px;
    text-align: left;
}

.result-page .personal-logo {
    float: none;
    width: 135px;
    height: 135px;
}

.result-page .personal-name {
    font-size: 24px;
    color: #333333;
    text-align: center;
    line-height: 2.5;
}

.result-page .record-info {
    text-align: center;
}

.result-page .record-info .hr {
    margin-top: 30px;
    width: 100%;
    background: #dcdcdc;
    height: 2px;
}

.result-page .record-info-right, .result-page .record-info-left {
    width: 50%;
}

.result-page .record-info-right {
    float: right;
}

.result-page .record-info-left {
    float: left;
}

.result-page .record-info-mid {
    width: 2px;
    height: 100px;
    background: #dcdcdc;
    margin-left: 50%;
    margin-top: 20px;
    height: 100px;
}

.result-page .record-info .title {
    font-size: 24px;
    color: #585858;
}

.result-page .record-info .text {
    font-size: 48px;
    color: #e9329c;
}

.result-page .record-info .text .days {
    font-size: 22px;
    color: #333333;
}

.result-page .book-info .title {
    text-align: center;
    padding: 20px 0;
    color: #e9329c;
    font-size: 30px;
}

.result-page .book-info .cover {
    width: 137px;
    height: 185px;
    object-fit: cover;
    float: left;
}

.result-page .book-info .main {
    padding: 0 10px 10px 10px;
    min-height: 90px;
}

.result-page .book-info .text {
    color: #585858;
    font-size: 23px;
    margin-left: 166px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.result-page .book-info .share-btn {
    width: 361px;
    height: 64px;
    line-height: 64px;
    border-radius: 40px;
    background: #e9329c;
    color: #ffffff;
    text-align: center;
    font-size: 26px;
    float: right;
}

.result-page .book-info {
    overflow: hidden;
    padding-bottom: 0;
}

.medie-player {
    width: 364px;
    height: 86px;
    background: #fcfcfc;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    margin-left: 166px;
    margin-bottom: 12px;
    font-size: 24px;
    color: #122032;
    padding-top: 12px;
    box-sizing: border-box;
    line-height: 1.5;
}

.medie-player .media-player-icon {
    float: left;
    margin-right: 16px;
    margin-left: 24px;
    margin-top: 9px;
}

.medie-player .articleTitle span {
    display: block;
    color: #686566;
    font-size: 20px;
}

.result-page .AD-info {
    background: url("../img/result-banner.png");
    width: 583px;
    height: 128px;
    margin: 0 auto 80px;
    position: relative;
}

.result-page .AD-info .qcode {
    position: absolute;
    right: 36px;
    top: 9px;
    width: 110px;
    height: 110px;
}

.shareTxt {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 100;
}

.overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(51, 51, 51, 0.9);
}

/* ui-alert */
.ui-overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(51, 51, 51, 0.9);
}

.ui-alert {
    display: none;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding: 45px 40px;
    background: #ffffff;
    border-radius: 10px;
    width: 550px;
    box-sizing: border-box;
}

.ui-alert-closed {
    position: absolute;
    right: 20px;
    top: 20px;
}

.ui-alert-title {
    color: #e9329c;
    text-align: center;
    font-size: 30px;
    line-height: 45px;
}

.ui-alert-text {
    line-height: 1.6;
    font-size: 24px;
    color: #585858;
    padding-top: 30px;
}

/* time scroll*/
.record-icon {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: none;
}

.game_time {
    margin: auto;
    width: 138px;
    height: 138px;
    position: relative;
}

.pie {
    width: 138px;
    height: 138px;
    border-radius: 100px;
    position: absolute;
}

.pie1 {
    clip: rect(0px, 138px, 138px, 69px);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    background-color: #e9329c;
}

.pie2 {
    clip: rect(0px, 72px, 140px, 0px);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    background-color: #e9329c;
}

.hold {
    width: 138px;
    height: 138px;
    position: absolute;
    z-index: 1;
}

.bg {
    width: 138px;
    height: 138px;
    border-radius: 138px;
    position: absolute;
    background-color: #0068b1;
}

.time {
    width: 122px;
    height: 122px;
    margin: 8px 0 0 9px;
    background-color: #e9329c;
    border-radius: 100px;
    position: absolute;
    z-index: 1;
    text-align: center;
    line-height: 122px;
    font-size: 30px;
}

.reading-video, .iframe {
    width: 583px;
    display: block;
    margin: 0 auto 25px;
    height: 380px;
}

.iframe.active {
    position: fixed;
    top: 0;
    margin: 0;
}

.difficulty-star {
    color: #e9329c;
    font-size: 24px;
}

.dotting {
    display: inline-block;
    min-width: 4px;
    min-height: 4px;
    box-shadow: 4px 0 currentColor, 12px 0 currentColor, 20px 0 currentColor; /* for IE9+, ..., 3个点 */
    animation: dot 4s infinite step-start both; /* for IE10+, ... */
}

.dotting:before {
    content: '...';
}

.animate-number {

}

.number-tpl {
    display: none;
}

.number-text {
    font-size: 48px;
    color: #e9329c;
    text-align: center;
    display: inline-block;
    transition: all ease 1s;
    -webkit-transition: all ease 1s;
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.animate-number {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    height: 66px;
    line-height: 66px;
}

/* for IE8. 若无需兼容IE8, 此行以及下一行删除*/
.dotting::before {
    content: '';
}

/* for IE9+ 覆盖 IE8 */
:root .dotting {
    margin-right: 8px;
}

/* for IE9+,FF,CH,OP,SF 占据空间*/

@keyframes dot {
    25% {
        box-shadow: none;
    }
    /* 0个点 */
    50% {
        box-shadow: 4px 0 currentColor;
    }
    /* 1个点 */
    75% {
        box-shadow: 4px 0 currentColor, 12px 0 currentColor; /* 2个点 */
    }
}

.index-words-h2 {
    font-size: 28px;
    color: #585858;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}

.index-words-h1 {
    font-size: 30px;
    color: #e9329c;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}